Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

chore(deps): update @lightningpolar packages
  package.json
  src/lib/tap/tapd/tapdService.spec.ts
  src/shared/lndDefaults.ts
  src/shared/tapdDefaults.ts
  src/utils/constants.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(cln): update getNewAddress with p2tr support
  src/lib/lightning/clightning/clightningApi.ts
  src/lib/lightning/clightning/clightningService.spec.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/clightning/types.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

chore(i18n): new Crowdin updates (#1348)
  src/i18n/locales/de-DE.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: none

chore(release): bump version to v4.0.0 and update changelog
  CHANGELOG.md
  README.md
  docker/nodes.json
  package.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: test arm64 build
  .electronbuildrc
  .github/workflows/main.yml
Due: prettier --single-quote --write

chore: all arm64 builds
  .electronbuildrc
  .github/workflows/main.yml
  .github/workflows/package.yml
Due: prettier --single-quote --write

chore: remove blockmap files
  .electronbuildrc
  .github/workflows/package.yml
  electron-builder.config.js
  package.json
Due: prettier --single-quote --write

ci: extract electron packaging to dedicated workflow
  .github/workflows/main.yml
  .github/workflows/package.yml
Due: prettier --single-quote --write

build: enhance DMG packaging and add ARM64 support
  .electronbuildrc
  assets/dmg-background.png
  assets/dmg-background@2x.png
Due: none

chore: ignore .playwright-mcp directory
  .gitignore
Due: none

ci: use arm64 macos-15 runner for PR checks
  .github/workflows/main.yml
Due: prettier --single-quote --write

chore: update renovate config
  .renovaterc
Due: none
