Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write

test(images): add unit tests for services and utils
  src/components/common/form/DockerImageInput.spec.tsx
  src/components/common/form/DockerImageInput.tsx
  src/components/designer/bitcoind/actions/RemoveNode.spec.tsx
  src/components/designer/lightning/actions/ChangeBackendModal.spec.tsx
  src/components/designer/link/LinkDetails.spec.tsx
  src/components/designer/link/Peer.spec.tsx
  src/components/network/NetworkView.spec.tsx
  src/components/nodeImages/ManagedImageModal.spec.tsx
  src/components/nodeImages/ManagedImagesTable.spec.tsx
  src/components/nodeImages/NodeImagesView.spec.tsx
  src/lib/bitcoin/bitcoindService.spec.ts
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/dockerService.spec.ts
  src/store/models/network.spec.ts
  src/utils/chart.spec.ts
  src/utils/network.spec.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(ui): add unit tests for new components
  src/components/nodeImages/CustomImageModal.spec.tsx
  src/components/nodeImages/CustomImageModal.tsx
  src/components/nodeImages/CustomImagesTable.spec.tsx
  src/components/nodeImages/CustomImagesTable.tsx
  src/components/nodeImages/ManagedImageModal.spec.tsx
  src/components/nodeImages/ManagedImagesTable.spec.tsx
  src/components/nodeImages/NodeImagesView.spec.tsx
  src/i18n/locales/en-US.json
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add screen to view custom and managed nodes
  src/components/common/NavMenu.spec.tsx
  src/components/common/NavMenu.tsx
  src/components/nodes/CustomNodesTable.tsx
  src/components/nodes/ManagedNodesTable.tsx
  src/components/nodes/NodesView.tsx
  src/components/nodes/index.ts
  src/components/routing/Routes.tsx
  src/components/routing/index.ts
  src/i18n/locales/en-US.json
  src/resources/lnd.png
  src/store/models/app.ts
  src/types/index.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add command field to node advanced sidebar
  src/components/common/NodeAdvancedOptions.tsx
  src/components/common/form/DockerCommandInput.tsx
  src/components/designer/lightning/AdvancedTab.tsx
  src/components/designer/lightning/LightningDetails.tsx
  src/lib/docker/dockerService.spec.ts
  src/store/models/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): implement adding and deleting custom nodes
  .lintstagedrc
  src/components/nodes/CustomNodesTable.tsx
  src/components/nodes/NodesView.tsx
  src/i18n/locales/en-US.json
  src/store/models/app.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add modal form to edit managed node's startup command
  src/components/nodes/CommandVariables.tsx
  src/components/nodes/CustomNodesTable.tsx
  src/components/nodes/ManagedNodeModal.tsx
  src/components/nodes/ManagedNodesTable.tsx
  src/components/nodes/NodesView.tsx
  src/components/nodes/index.ts
  src/i18n/locales/en-US.json
  src/store/models/app.ts
  src/types/index.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(images): add unit tests for new common components
  src/components/common/AdvancedOptionsModal.spec.tsx
  src/components/common/NodeAdvancedOptions.tsx
  src/components/designer/lightning/LightningDetails.spec.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(bitcoind): add ZMQ ports to the network migrations
  src/utils/migrations.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add autocomplete to docker image list
  src/components/common/form/DockerImageInput.tsx
  src/components/network/NetworkView.spec.tsx
  src/components/nodes/CustomNodeModal.tsx
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add name field for custom images
  src/components/designer/bitcoind/InfoTab.tsx
  src/components/designer/default/DefaultSidebar.tsx
  src/components/designer/lightning/InfoTab.tsx
  src/components/network/NewNetwork.tsx
  src/components/nodeImages/CustomImageModal.tsx
  src/components/nodeImages/CustomImagesTable.tsx
  src/components/nodeImages/NodeImagesView.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/dockerService.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): move command editor to an advanced options modal
  src/components/common/AdvancedOptionsButton.tsx
  src/components/common/AdvancedOptionsModal.tsx
  src/components/common/form/DockerCommandInput.tsx
  src/components/common/index.ts
  src/components/designer/NetworkDesigner.tsx
  src/components/designer/bitcoind/ActionsTab.tsx
  src/components/designer/lightning/ActionsTab.tsx
  src/components/designer/lightning/AdvancedTab.tsx
  src/components/designer/lightning/LightningDetails.tsx
  src/i18n/locales/en-US.json
  src/store/models/modals.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add migration to set a blank docker command for each node
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.spec.ts
  src/store/models/app.ts
  src/utils/migrations.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add modal form to edit custom nodes
  src/components/nodes/CustomNodeModal.tsx
  src/components/nodes/CustomNodesTable.tsx
  src/components/nodes/index.ts
  src/i18n/locales/en-US.json
  src/lib/settings/settingsService.spec.ts
  src/resources/lnd.png
  src/store/models/app.spec.ts
  src/store/models/app.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

refactor(images): rename nodes to images for files and folders
  src/components/common/NavMenu.spec.tsx
  src/components/common/NavMenu.tsx
  src/components/nodeImages/CommandVariables.tsx
  src/components/nodeImages/CustomImageModal.tsx
  src/components/nodeImages/CustomImagesTable.tsx
  src/components/nodeImages/ManagedImageModal.tsx
  src/components/nodeImages/ManagedImagesTable.tsx
  src/components/nodeImages/NodeImagesView.tsx
  src/components/nodeImages/index.ts
  src/components/nodes/index.ts
  src/components/routing/Routes.tsx
  src/components/routing/index.ts
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

refactor(images): rename custom nodes to custom images
  src/components/nodes/CustomNodeModal.tsx
  src/components/nodes/CustomNodesTable.tsx
  src/components/nodes/ManagedNodeModal.tsx
  src/components/nodes/ManagedNodesTable.tsx
  src/components/nodes/NodesView.tsx
  src/lib/settings/settingsService.spec.ts
  src/store/models/app.spec.ts
  src/store/models/app.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add custom nodes to the network designer sidebar
  src/components/designer/default/DefaultSidebar.tsx
  src/components/designer/lightning/actions/ChangeBackendModal.spec.tsx
  src/lib/docker/composeFile.ts
  src/lib/docker/nodeTemplates.spec.ts
  src/lib/docker/nodeTemplates.ts
  src/shared/types.ts
  src/store/models/designer.ts
  src/store/models/network.ts
  src/utils/migrations.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add docker commands to nodes in network state
  src/lib/docker/dockerService.spec.ts
  src/shared/types.ts
  src/store/models/network.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): display custom node version in info tabs
  src/components/designer/bitcoind/InfoTab.tsx
  src/components/designer/lightning/InfoTab.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(lightning): add P2P ports to the network migrations
  src/utils/migrations.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

refactor(migrations): change migrations to run sequentially
  src/utils/migrations.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add custom nodes to the New Network screen
  TODO.md
  src/components/layouts/AppLayout.tsx
  src/components/network/NetworkView.tsx
  src/components/network/NewNetwork.spec.tsx
  src/components/network/NewNetwork.tsx
  src/components/nodeImages/CustomImageModal.tsx
  src/components/nodeImages/CustomImagesTable.tsx
  src/components/nodeImages/ManagedImagesTable.tsx
  src/components/nodeImages/NodeImagesView.tsx
  src/components/routing/Routes.spec.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/dockerService.spec.ts
  src/store/models/designer.spec.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): save managed node custom commands to docker compose file
  src/lib/docker/composeFile.ts
  src/lib/docker/nodeTemplates.ts
  src/store/models/network.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(images): add and update unit tests for existing components
  src/components/common/form/DockerCommandInput.spec.tsx
  src/components/common/form/DockerImageInput.spec.tsx
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/bitcoind/BitcoindDetails.spec.tsx
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/lightning/LightningDetails.spec.tsx
  src/components/network/NewNetwork.spec.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

docs: update references to the website in readme
  README.md
Due: prettier --single-quote --write

chore(deps): update dependency typescript to v3.8.3
  package.json
  yarn.lock
Due: none

fix(terminal): fix broken line wrapping for long commands
  TODO.md
  src/components/terminal/DockerTerminal.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
