Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write

chore(deps): update typescript-eslint monorepo to v4.14.0
  package.json
  yarn.lock
Due: none

feat(bitcoind): expose REST interface by default
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency @ant-design/icons to v4.4.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fs-extra to v9.1.0
  package.json
  yarn.lock
Due: none

chore(deps): update openjdk docker tag to v11.0.10
  docker/eclair/Dockerfile
Due: none

chore(deps): update dependency stylelint to v13.9.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency less-loader to v7.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @testing-library/user-event to v12.6.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react-redux to v7.1.16
  package.json
  yarn.lock
Due: none

feat: add example of an LND TypeScript app
  examples/typescript/lnd/.env.example
  examples/typescript/lnd/.gitignore
  examples/typescript/lnd/README.md
  examples/typescript/lnd/package.json
  examples/typescript/lnd/src/config.ts
  examples/typescript/lnd/src/index.ts
  examples/typescript/lnd/src/nodeHandler.ts
  examples/typescript/lnd/src/utils.ts
  examples/typescript/lnd/tsconfig.json
  examples/typescript/lnd/yarn.lock
  tsconfig.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency antd to v4.11.1
  package.json
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v4.14.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency antd to v4.11.2
  package.json
  yarn.lock
Due: none

chore(deps): replace dependency @radar/lnrpc with @jamaljsr/lnrpc
  electron/lnd/lndProxyServer.ts
  package.json
  src/lib/lightning/lnd/lndProxyClient.ts
  src/lib/lightning/lnd/lndService.ts
  src/lib/lightning/lnd/mappers.ts
  src/shared/lndDefaults.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency electron to v11.2.1
  electron/appIpcListener.ts
  electron/constants.ts
  electron/windowManager.ts
  package.json
  src/shared/lndDefaults.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix(deps): pin dependency @jamaljsr/lnrpc to 0.11.1-beta.1
  package.json
  yarn.lock
Due: none

chore: update dead link
  src/store/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add support for LND v0.12.0-beta
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add support for eclair v0.5.0
  README.md
  docker/README.md
  docker/eclair/Dockerfile
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add support for c-lightning v0.9.3
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency typescript to v4.1.3
  package.json
  yarn.lock
Due: none

feat(images): add support for bitcoind v0.21.0
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix(bitcoind): create default wallet when starting bitcoind
  src/lib/bitcoin/bitcoindService.spec.ts
  src/lib/bitcoin/bitcoindService.ts
  src/store/models/network.ts
  src/types/bitcoin-core.d.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency @testing-library/react to v11.2.3
  package.json
  yarn.lock
Due: none

chore(deps): fix breaking change in testing-library-react v11.2.3 types
  src/components/common/AdvancedOptionsModal.spec.tsx
  src/components/designer/default/ImageUpdatesModal.spec.tsx
  src/components/designer/lightning/actions/ChangeBackendModal.spec.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
  src/components/home/DetectDockerModal.spec.tsx
  src/components/nodeImages/CustomImageModal.spec.tsx
  src/components/nodeImages/ManagedImageModal.spec.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(release): bump version to v1.2.0 and update changelog
  CHANGELOG.md
  README.md
  package.json
Due: prettier --single-quote --write

chore(deps): update dependency i18next to v19.8.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency react-router-transition to v2.1.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency xterm to v4.10.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency xterm-addon-fit to v0.5.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rada/lnrpc to v0.11.1-beta.1
  electron/lnd/lndProxyServer.ts
  package.json
  src/lib/lightning/lnd/lndProxyClient.ts
  src/lib/lightning/lnd/lndService.ts
  src/lib/lightning/lnd/mappers.ts
  src/shared/lndDefaults.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update typescript-eslint monorepo to v4.14.2
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
