Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --parser json --write"
  ],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

chore(deps): update dependency @radar/lnrpc to v0.9.1-beta
  package.json
  src/shared/lndDefaults.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency @types/jest to v25.1.4
  package.json
  yarn.lock
Due: none

ci(github): run CI builds on all branches except excluded ones
  .github/workflows/main.yml
Due: prettier --single-quote --write

Update .crowdin.yml
  .crowdin.yml
Due: prettier --single-quote --write

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

chore(deps): update dependency ws to v7.2.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency antd to v4.0.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency stylelint to v13.2.1
  package.json
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v2.23.0
  package.json
  yarn.lock
Due: none

feat(docker): add support for LND v0.9.1 and bitcoind v0.19.1
  docker/README.md
  docker/nodes.json
  src/components/designer/lightning/actions/ChangeBackendModal.spec.tsx
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(network): increase node startup timeout from 30 to 60 seconds
  src/lib/bitcoin/bitcoindService.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/lnd/lndService.ts
  src/utils/async.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

Refactor and modularize export/import code
  .eslintignore
  package.json
  src/__mocks__/electron.js
  src/components/common/NavMenu.tsx
  src/components/home/GetStarted.tsx
  src/components/network/ImportNetwork.tsx
  src/components/network/NetworkView.spec.tsx
  src/components/network/NetworkView.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/files.ts
  src/utils/network.spec.ts
  src/utils/network.ts
  src/utils/tests/resources/bar.txt
  src/utils/tests/resources/baz/qux.ts
  src/utils/tests/resources/foo.json
  src/utils/tests/resources/test.zip
  src/utils/tests/resources/zipped-network.zip
  src/utils/zip.spec.ts
  src/utils/zip.ts
  tsconfig.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat: add import/export network functionality
  README.md
  e2e/Import.e2e.ts
  e2e/pages/Home.ts
  package.json
  src/components/common/NavMenu.spec.tsx
  src/components/common/NavMenu.tsx
  src/components/home/GetStarted.tsx
  src/components/network/ImportNetwork.tsx
  src/components/network/NetworkActions.spec.tsx
  src/components/network/NetworkActions.tsx
  src/components/network/NetworkView.tsx
  src/components/routing/Routes.spec.tsx
  src/components/routing/Routes.tsx
  src/components/routing/index.ts
  src/i18n/locales/en-US.json
  src/utils/files.ts
  src/utils/network.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

Add thunk for importing network
  src/components/network/ImportNetwork.tsx
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/network.spec.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(export): add and update unit tests for import & export
  .vscode/settings.json
  package.json
  src/__mocks__/archiver.js
  src/__mocks__/electron.js
  src/__mocks__/unzipper.js
  src/components/network/ImportNetwork.spec.tsx
  src/components/network/NetworkView.spec.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/dockerService.spec.ts
  src/setupTests.js
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/constants.ts
  src/utils/network.ts
  src/utils/zip.spec.ts
  src/utils/zip.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

Continue addressing code review and feedback
  .eslintignore
  .vscode/settings.json
  src/__mocks__/archiver.js
  src/__mocks__/fs-extra.js
  src/components/network/ImportNetwork.spec.tsx
  src/components/network/ImportNetwork.tsx
  src/components/network/NetworkView.spec.tsx
  src/components/routing/Routes.spec.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/constants.ts
  src/utils/network.ts
  src/utils/tests/resources/bar.txt
  src/utils/tests/resources/baz/qux.ts
  src/utils/tests/resources/foo.json
  src/utils/tests/resources/test.zip
  src/utils/tests/resources/zipped-network.zip
  src/utils/zip.spec.ts
  src/utils/zip.ts
  tsconfig.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(export): fix export unit tests
  src/components/common/NavMenu.spec.tsx
  src/components/network/NetworkView.spec.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): fix broken yarn.lock file
  yarn.lock
Due: none

feat(export): refactor and reduce import/export code
  src/components/common/NavMenu.spec.tsx
  src/components/common/NavMenu.tsx
  src/components/designer/bitcoind/actions/MineBlocksInput.spec.tsx
  src/components/home/NetworkCard.tsx
  src/components/network/ImportNetwork.tsx
  src/components/network/NetworkActions.tsx
  src/components/network/NetworkView.spec.tsx
  src/components/network/NetworkView.tsx
  src/i18n/locales/en-US.json
  src/store/models/app.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/network.ts
  src/utils/zip.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(import): update unit tests for the ImportNetwork component
  src/__mocks__/archiver.js
  src/__mocks__/fs-extra.js
  src/__mocks__/unzipper.js
  src/components/network/ImportNetwork.spec.tsx
  src/components/network/ImportNetwork.tsx
  src/utils/network.ts
  src/utils/zip.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

Add more tests for import network functionality
  .rescriptsrc.js
  e2e/Import.e2e.ts
  e2e/pages/Home.ts
  src/__mocks__/fs-extra.js
  src/components/network/ImportNetwork.spec.tsx
  src/components/network/ImportNetwork.tsx
  src/components/network/NetworkView.spec.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/network.spec.ts
  src/utils/network.ts
  src/utils/zip.spec.ts
  src/utils/zip.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency ws to v7.2.3
  package.json
  yarn.lock
Due: none
