Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

chore(i18n): update translations from Crowdin (#921)
  src/i18n/locales/de-DE.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: none

chore(release): bump version to v3.0.0-rc1 and update changelog
  .github/workflows/main.yml
  CHANGELOG.md
  README.md
  docker/nodes.json
  package.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): fix linter warning in lndProxyClient
  docker/litd/Dockerfile
  src/lib/lightning/lnd/lndProxyClient.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test(OpenChannelModal): added test case for private channel selection
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/lib/lightning/eclair/eclairApi.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): update Terminal to v0.13.99-alpha.rc2
  docker/litd/Dockerfile
  electron/tapd/tapdProxyServer.ts
  package.json
  src/lib/lightning/lnd/lndService.ts
  src/lib/lightning/lnd/mappers.ts
  src/lib/tap/tapd/tapdService.spec.ts
  src/shared/tapdDefaults.ts
  src/utils/constants.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

ci: create x64 builds instead of arm64 on MacOS
  .github/workflows/main.yml
Due: prettier --single-quote --write

feat(images): add support for LND v0.18.2-beta
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test(lightning): added test case for private channel selection (#917)
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/lib/lightning/eclair/eclairApi.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(CLightningService): used channel id instead of channel point
  src/lib/lightning/clightning/clightningService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: added unit tests for channel closing
  src/components/designer/link/Channel.spec.tsx
  src/lib/lightning/clightning/clightningService.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

docs(CLightningService): added comment for cln closeChannel method
  src/lib/lightning/clightning/clightningService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: updated unit test for Channel
  src/components/designer/link/Channel.spec.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(i18n): update label for channel id translations
  src/components/designer/link/Channel.tsx
  src/i18n/locales/de-DE.json
  src/i18n/locales/en-US.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix (cln): Fix error when closing Core Lightning channels (#934)
  src/components/designer/link/Channel.spec.tsx
  src/components/designer/link/Channel.tsx
  src/i18n/locales/de-DE.json
  src/i18n/locales/en-US.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
  src/lib/lightning/clightning/clightningService.spec.ts
  src/lib/lightning/clightning/clightningService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
