Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --parser json --write"
  ],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

test: update unit tests for private channels
  src/lib/lightning/clightning/clightningService.spec.ts
  src/lib/lightning/eclair/eclairService.spec.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test: add unit test for opening a private channel with Eclair
  src/lib/lightning/eclair/eclairService.spec.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(channels): add private channel option
  src/components/designer/custom/Link.tsx
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/components/designer/lightning/actions/OpenChannelModal.tsx
  src/components/designer/link/Channel.tsx
  src/i18n/locales/en-US.json
  src/lib/lightning/clightning/clightningService.spec.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/clightning/types.ts
  src/lib/lightning/eclair/eclairService.spec.ts
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/eclair/types.ts
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/lightning/lnd/lndService.ts
  src/lib/lightning/lnd/mappers.ts
  src/lib/lightning/notImplementedService.spec.ts
  src/lib/lightning/notImplementedService.ts
  src/lib/lightning/types.ts
  src/shared/types.ts
  src/store/models/lightning.spec.ts
  src/store/models/lightning.ts
  src/types/index.ts
  src/utils/chart.ts
  src/utils/tests/testStateDefaults.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test: update unit tests for private channel option
  src/components/designer/LinkContextMenu.spec.tsx
  src/components/designer/link/Channel.spec.tsx
  src/components/designer/link/Channel.tsx
  src/components/designer/link/LinkDetails.spec.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix: refactor extra useMemo in Link component
  src/components/designer/custom/Link.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

refactor: use useMemo in CustomLink for opacity
  src/components/designer/custom/Link.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix: fix correct value for c-lightning "announce" field
  src/lib/lightning/clightning/clightningService.spec.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/clightning/types.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix: extract Open Channel checkbox labels for i18n support
  src/components/designer/lightning/actions/OpenChannelModal.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix(menu): fix context menu runtime console warning
  src/components/designer/LinkContextMenu.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

chore(i18n): add new crowdin translations
  src/i18n/locales/de-DE.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: none

chore(deps): update dependency electron-builder to v22.10.5
  package.json
  yarn.lock
Due: none

chore(release): bump version to v1.3.0 and update changelog
  CHANGELOG.md
  README.md
  package.json
Due: prettier --single-quote --write

chore(deps): update dependency antd to v4.16.1
  package.json
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v4.26.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.9
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react-dom to v17.0.6
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/node to v14.17.2
  package.json
  yarn.lock
Due: none

fix(network): handle port conflicts when adding a node
  src/store/models/network.spec.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add support for LND v0.13.0-beta.rc5
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency @testing-library/jest-dom to v5.13.0
  package.json
  yarn.lock
Due: none
