Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

fix(deps): bump @types/redux-logger to 3.0.13
  package.json
  src/store/index.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(build): match development browserslist to production
  package.json
Due: none

test: cover wallet restore, force-close confirmation, and validation
  src/components/common/UnlockNodeModal.spec.tsx
  src/lib/bitcoin/bitcoind/bitcoindService.spec.ts
  src/lib/bitcoin/notImplementedService.spec.ts
  src/lib/lightning/lnd/lndService.spec.ts
  src/store/models/network.spec.ts
  src/utils/files.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add wallet restore flow for uninitialized LND nodes
  src/components/common/RestoreWalletForm.tsx
  src/components/common/UnlockNodeModal.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add service layer support for restoring a wallet from a seed
  src/lib/bitcoin/bitcoind/bitcoindService.ts
  src/lib/bitcoin/notImplementedService.ts
  src/lib/lightning/lnd/lndService.ts
  src/types/bitcoin-core.d.ts
  src/types/index.ts
  src/utils/files.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix: wait for SERVER_ACTIVE before treating an LND node as online
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/lightning/lnd/lndService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

fix(terminal): fall back when a custom image lacks the expected user or shell
  src/components/terminal/DockerTerminal.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

docs: add AI policy doc [ci skip]
  CONTRIBUTING.md
  docs/ai-policy.md
Due: prettier --single-quote --write

chore(deps): add easy-peasy to renovate ignore list
  .renovaterc
Due: none

fix(deps): bump dockerode to 4.0.12 and regenerate protobufjs patch
  package.json
  patches/protobufjs+7.6.6.patch
  yarn.lock
Due: none

chore(deps): add antd to renovate ignore list
  .renovaterc
Due: none

test: map node:crypto to a shim for Jest 26
  package.json
  src/utils/tests/nodeCrypto.js
Due: none

fix(deps): bump @types/node to 18.19.130
  package.json
  src/components/designer/AutoMineButton.tsx
  src/store/models/network.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for tapd v0.7.1
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for bitcoind v31.0
  README.md
  docker/README.md
  docker/nodes.json
  src/lib/bitcoin/bitcoind/bitcoindService.spec.ts
  src/lib/bitcoin/bitcoind/bitcoindService.ts
  src/store/models/mcp/network/createNetwork.spec.ts
  src/store/models/mcp/network/listNodeVersions.spec.ts
  src/types/bitcoin-core.d.ts
  src/utils/constants.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for eclair v0.14.0-0.14.2
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for clightning v26.04-26.06.7
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

build(eclair): add noble-based image for Eclair nodes
  docker/eclair/Dockerfile
  docker/eclair/docker-entrypoint.sh
Due: none

fix: warn about the restart when renaming a locked node
  src/components/common/RenameNodeModal.spec.tsx
  src/components/common/RenameNodeModal.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

refactor: key wallet-init detection off the --noseedbackup flag
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/lightning/lnd/lndService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix: keep chart cleanup from being skipped by a locked node
  src/store/models/network.spec.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix: match the --noseedbackup flag as a token, not a substring
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/lightning/lnd/lndService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write
