Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

style(detectdockermodal.spec.tsx): updates the Docker detection error message to be more helpful
  src/components/home/DetectDockerModal.spec.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

fix: fix japanese
  src/i18n/locales/ja-JP.json
Due: none

docs: update eclair section of build custom node images
  docs/custom-nodes.md
Due: prettier --single-quote --write

feat(litd): add required TAP proofCourier flag
  src/i18n/locales/en-US.json
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): update api packages for lnd/tapd/litd
  package.json
  src/lib/litd/litdService.ts
  src/lib/litd/types.ts
  src/lib/tap/tapd/tapdService.spec.ts
  src/shared/tapdDefaults.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): use channel data for decimal display
  src/components/designer/lightning/actions/CreateInvoiceModal.tsx
  src/components/designer/lightning/actions/OpenChannelModal.tsx
  src/store/models/tap.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): add decimals field to channel assets
  src/lib/lightning/lnd/mappers.ts
  src/lib/lightning/types.ts
  src/store/models/lit.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): parse channel assets for litd v0.15+
  src/lib/lightning/lnd/mappers.ts
  src/lib/lightning/types.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): update unit tests for litd v0.15
  src/components/designer/lightning/actions/CreateInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
  src/components/designer/link/Channel.spec.tsx
  src/components/layouts/ThemeSwitch.tsx
  src/lib/docker/composeFile.spec.ts
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/litd/litdService.spec.ts
  src/store/models/lit.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for litd v0.15.0-alpha
  README.md
  docker/README.md
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(i18n): New Crowdin updates (#1232)
  src/i18n/locales/de-DE.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: none

feat(images): add support for tapd v0.6.0-alpha
  docker/README.md
  src/store/models/designer.spec.ts
  src/utils/constants.ts
  src/utils/network.spec.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
