Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

feat(mcp): add start_node, stop_node, and restart_node tools
  src/store/models/mcp/network/restartNode.spec.ts
  src/store/models/mcp/network/restartNode.ts
  src/store/models/mcp/network/startNode.spec.ts
  src/store/models/mcp/network/startNode.ts
  src/store/models/mcp/network/stopNode.spec.ts
  src/store/models/mcp/network/stopNode.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add rename_network and rename_node tools
  src/store/models/mcp/network/renameNetwork.spec.ts
  src/store/models/mcp/network/renameNetwork.ts
  src/store/models/mcp/network/renameNode.spec.ts
  src/store/models/mcp/network/renameNode.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add start_network, stop_network, delete_network tools
  src/store/models/mcp/network/createNetwork.spec.ts
  src/store/models/mcp/network/createNetwork.ts
  src/store/models/mcp/network/deleteNetwork.spec.ts
  src/store/models/mcp/network/deleteNetwork.ts
  src/store/models/mcp/network/startNetwork.spec.ts
  src/store/models/mcp/network/startNetwork.ts
  src/store/models/mcp/network/stopNetwork.spec.ts
  src/store/models/mcp/network/stopNetwork.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add import_network_from_zip and export_network tools
  src/store/models/mcp/network/exportNetwork.spec.ts
  src/store/models/mcp/network/exportNetwork.ts
  src/store/models/mcp/network/importNetwork.spec.ts
  src/store/models/mcp/network/importNetwork.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add list_networks tool
  src/store/models/mcp/network/listNetworks.spec.ts
  src/store/models/mcp/network/listNetworks.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add add_node and remove_node tools
  src/store/models/mcp/network/addNode.spec.ts
  src/store/models/mcp/network/addNode.ts
  src/store/models/mcp/network/removeNode.spec.ts
  src/store/models/mcp/network/removeNode.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add list_node_versions tool
  src/store/models/mcp/network/listNodeVersions.spec.ts
  src/store/models/mcp/network/listNodeVersions.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add get_tap_balances, list_tap_assets, mint_tap_asset tools
  src/store/models/mcp/tap/getTapBalances.spec.ts
  src/store/models/mcp/tap/getTapBalances.ts
  src/store/models/mcp/tap/listTapAssets.spec.ts
  src/store/models/mcp/tap/listTapAssets.ts
  src/store/models/mcp/tap/mintTapAsset.spec.ts
  src/store/models/mcp/tap/mintTapAsset.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add mine_blocks, get_blockchain_info, and get_bitcoin_wallet_info tools
  src/store/models/mcp/bitcoin/getBitcoinWalletInfo.spec.ts
  src/store/models/mcp/bitcoin/getBitcoinWalletInfo.ts
  src/store/models/mcp/bitcoin/getBlockchainInfo.spec.ts
  src/store/models/mcp/bitcoin/getBlockchainInfo.ts
  src/store/models/mcp/bitcoin/mineBlocks.spec.ts
  src/store/models/mcp/bitcoin/mineBlocks.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add create_invoice and pay_invoice tools
  src/store/models/mcp/lightning/payments/createInvoice.spec.ts
  src/store/models/mcp/lightning/payments/createInvoice.ts
  src/store/models/mcp/lightning/payments/payInvoice.spec.ts
  src/store/models/mcp/lightning/payments/payInvoice.ts
  src/store/models/mcp/lightning/wallet/depositFunds.spec.ts
  src/store/models/mcp/lightning/wallet/depositFunds.ts
  src/store/models/mcp/lightning/wallet/getWalletBalance.spec.ts
  src/store/models/mcp/lightning/wallet/getWalletBalance.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add set_lightning_backend and set_tap_backend tools
  src/store/models/mcp/network/setLightningBackend.spec.ts
  src/store/models/mcp/network/setLightningBackend.ts
  src/store/models/mcp/network/setTapBackend.spec.ts
  src/store/models/mcp/network/setTapBackend.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add asset channel tools
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/lightning/lnd/lndService.ts
  src/store/models/lightning.spec.ts
  src/store/models/mcp/lightning/asset-channels/closeTapChannel.spec.ts
  src/store/models/mcp/lightning/asset-channels/closeTapChannel.ts
  src/store/models/mcp/lightning/asset-channels/fundTapChannel.spec.ts
  src/store/models/mcp/lightning/asset-channels/fundTapChannel.ts
  src/store/models/mcp/lightning/channels/closeChannel.spec.ts
  src/store/models/mcp/lightning/channels/closeChannel.ts
  src/store/models/mcp/lightning/channels/listChannels.spec.ts
  src/store/models/mcp/lightning/channels/listChannels.ts
  src/store/models/mcp/lightning/channels/openChannel.spec.ts
  src/store/models/mcp/lightning/channels/openChannel.ts
  src/store/models/mcp/lightning/node-info/getNodeInfo.spec.ts
  src/store/models/mcp/lightning/node-info/getNodeInfo.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add send_bitcoin, get_new_bitcoin_address, and set_auto_mine_mode tools
  src/store/models/mcp/bitcoin/getNewBitcoinAddress.spec.ts
  src/store/models/mcp/bitcoin/getNewBitcoinAddress.ts
  src/store/models/mcp/bitcoin/sendBitcoin.spec.ts
  src/store/models/mcp/bitcoin/sendBitcoin.ts
  src/store/models/mcp/bitcoin/setAutoMineMode.spec.ts
  src/store/models/mcp/bitcoin/setAutoMineMode.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add update_node_command and get_default_node_command tools
  src/store/models/mcp/network/getDefaultNodeCommand.spec.ts
  src/store/models/mcp/network/getDefaultNodeCommand.ts
  src/store/models/mcp/network/updateNodeCommand.spec.ts
  src/store/models/mcp/network/updateNodeCommand.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add asset payment tools
  src/store/models/mcp/lightning/asset-payments/createAssetInvoice.spec.ts
  src/store/models/mcp/lightning/asset-payments/createAssetInvoice.ts
  src/store/models/mcp/lightning/asset-payments/getAssetsInChannels.spec.ts
  src/store/models/mcp/lightning/asset-payments/getAssetsInChannels.ts
  src/store/models/mcp/lightning/asset-payments/payAssetInvoice.spec.ts
  src/store/models/mcp/lightning/asset-payments/payAssetInvoice.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add add_litd_session, list_litd_sessions, revoke_litd_session tools
  src/store/models/mcp/litd/addLitdSession.spec.ts
  src/store/models/mcp/litd/addLitdSession.ts
  src/store/models/mcp/litd/listLitdSessions.spec.ts
  src/store/models/mcp/litd/listLitdSessions.ts
  src/store/models/mcp/litd/revokeLitdSession.spec.ts
  src/store/models/mcp/litd/revokeLitdSession.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(config): add copilot instructions doc
  .github/copilot-instructions.md
Due: prettier --single-quote --write

feat(mcp): add send_tap_asset and get_tap_address tools
  src/store/models/mcp/tap/getTapAddress.spec.ts
  src/store/models/mcp/tap/getTapAddress.ts
  src/store/models/mcp/tap/sendTapAsset.spec.ts
  src/store/models/mcp/tap/sendTapAsset.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(mcp): add decode_tap_address and sync_tap_universe tools
  src/store/models/mcp/tap/decodeTapAddress.spec.ts
  src/store/models/mcp/tap/decodeTapAddress.ts
  src/store/models/mcp/tap/syncTapUniverse.spec.ts
  src/store/models/mcp/tap/syncTapUniverse.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

docs(mcp): add MCP architecture doc
  README.md
  docs/mcp-architecture.md
Due: prettier --single-quote --write

feat(mcp): integrate MCP bridge and wire all tools
  electron/constants.ts
  electron/mcpBridge.ts
  electron/windowManager.ts
  src/shared/ipcChannels.ts
  src/store/index.ts
  src/store/models/index.ts
  src/store/models/lightning.ts
  src/store/models/mcp/helpers.spec.ts
  src/store/models/mcp/helpers.ts
  src/store/models/mcp/index.ts
  src/store/models/mcp/ipc.spec.ts
  src/store/models/mcp/ipc.ts
  src/store/models/mcp/toolRegistry.ts
  src/store/models/mcp/types.ts
  src/utils/config.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add tor connection support to lnd
  docker/lnd/Dockerfile
  docker/lnd/docker-entrypoint.sh
Due: none

feat(tor-support): ui for enable tor for all
  src/components/network/NetworkActions.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tor-support): add network-wide Tor toggle for LND nodes
  src/components/common/AdvancedOptionsButton.tsx
  src/lib/docker/composeFile.ts
  src/shared/types.ts
  src/store/models/network.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tor-support): update rpcUrl for tor
  src/lib/lightning/lnd/lndService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix: tsc compilation error
  src/lib/lightning/types.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: allow self-payment for invoices
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.tsx
  src/i18n/locales/en-US.json
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/lightning/lnd/lndService.ts
  src/lib/lightning/types.ts
  src/lib/tap/tapd/tapdService.ts
  src/store/models/lightning.ts
  src/store/models/lit.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add ability to specify Price Oracle metadata when creating an invoice
  package.json
  src/components/designer/lightning/actions/CreateInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.tsx
  src/i18n/locales/en-US.json
  src/lib/tap/tapd/tapdService.spec.ts
  src/lib/tap/tapd/tapdService.ts
  src/shared/lndDefaults.ts
  src/shared/tapdDefaults.ts
  src/store/models/lightning.ts
  src/store/models/lit.spec.ts
  src/store/models/lit.ts
  src/types/index.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

docs: add CLAUDE.md file
  CLAUDE.md
Due: prettier --single-quote --write

fix: set `--lnd-tlsextraip` and `--lnd-tlsextradomain`
  docker/litd/docker-entrypoint.sh
Due: none

fix(bitcoindservice/bitcoincore and network.ts/tapnode): modified bitcoincore to use default wallet
  package.json
  src/lib/bitcoin/bitcoind/bitcoindService.spec.ts
  src/lib/bitcoin/bitcoind/bitcoindService.ts
  src/utils/network.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write
