Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

chore(i18n): new Crowdin updates (#987)
  src/i18n/locales/de-DE.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: none

fix(tapd): rename v0.5.0-alpha.rc1 to v0.5.0-rc1
  docker/README.md
  src/utils/constants.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(release): bump version to v3.1.0 and update changelog
  CHANGELOG.md
  README.md
  docker/nodes.json
  package.json
Due: prettier --single-quote --write

fix(litd): change asset/sats exchange rate to 1:1
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(litd): remove the litcliln alias in the terminal
  src/components/terminal/DockerTerminal.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for LND v0.18.4-beta.rc2
  .vscode/settings.json
  docker/README.md
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for tapd v0.5.0-alpha.rc2
  docker/README.md
  src/store/models/designer.spec.ts
  src/utils/constants.ts
  src/utils/network.spec.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for litd v0.14.0-alpha.rc2
  docker/README.md
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for CLN v24.11
  docker/README.md
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): update node.json with latest node versions
  docker/nodes.json
Due: none

build: add docker image for btcd
  docker/btcd/Dockerfile
  docker/btcd/bashrc
  docker/btcd/docker-entrypoint.sh
Due: none
