Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write

chore(deps): pin dependency node-fetch to 2.6.0
  package.json
  yarn.lock
Due: none

feat(logs): add ability to view live logs from nodes
  .rescriptsrc.js
  TODO.md
  electron/appIpcListener.ts
  package.json
  src/components/designer/NodeContextMenu.tsx
  src/components/designer/bitcoind/ActionsTab.tsx
  src/components/designer/lightning/ActionsTab.tsx
  src/components/dockerLogs/DockerLogs.tsx
  src/components/dockerLogs/ViewLogsButton.tsx
  src/components/dockerLogs/index.ts
  src/components/routing/Routes.tsx
  src/components/routing/index.ts
  src/i18n/locales/en-US.json
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/react-app-env.d.ts
  src/store/models/network.ts
  src/utils/constants.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(logs): add and update unit tests for log viewer
  src/__mocks__/electron-log.js
  src/components/designer/NodeContextMenu.spec.tsx
  src/components/dockerLogs/ViewLogsButton.spec.tsx
  src/store/models/network.spec.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(logs): enable text selection of the log lines
  src/components/dockerLogs/DockerLogs.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

chore(deps): update dependency eslint-plugin-react to v7.19.0
  package.json
  yarn.lock
Due: none

fix(migrations): always run migrations in dev environment
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

[ci skip] blah blah
  .github/workflows/main.yml
Due: prettier --single-quote --write

[ci skip] bleh bleh
  .github/workflows/main.yml
Due: prettier --single-quote --write

[ci skip] meh meh
  .github/workflows/main.yml
Due: prettier --single-quote --write

ci(github): fix ignored branches for CI builds
  .github/workflows/main.yml
Due: prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
