Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

test(network): added test cases for description feature
  src/components/common/RenameNodeModal.spec.tsx
  src/components/designer/bitcoind/actions/SendOnChainModal.spec.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
  src/components/home/NetworkCard.spec.tsx
  src/components/network/ImportNetwork.spec.tsx
  src/components/network/NetworkView.spec.tsx
  src/components/network/NewNetwork.spec.tsx
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/dockerService.spec.ts
  src/lib/litd/litdProxyClient.spec.ts
  src/lib/litd/litdService.spec.ts
  src/store/models/designer.spec.ts
  src/store/models/lit.spec.ts
  src/store/models/network.spec.ts
  src/utils/network.spec.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(network): used tooltip for description in network view
  src/components/network/NetworkView.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(network): updated unit tests
  src/components/network/NetworkView.spec.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(network): added description field to ui components
  src/components/home/NetworkCard.tsx
  src/components/network/NetworkView.tsx
  src/components/network/NewNetwork.tsx
  src/i18n/locales/en-US.json
  src/types/index.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for CLN v24.08
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

docs(cln): updated cln compatibility issue comment
  src/lib/lightning/clightning/clightningService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

build: update deprecated husky command
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

fix(eclair): updated returned payinvoice amount to sats
  src/lib/lightning/eclair/eclairService.spec.ts
  src/lib/lightning/eclair/eclairService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(mappers): fixed error when trying to parse empty customChannelData
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/lightning/lnd/mappers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

refactor(compose): removed obsolete version field from compose file
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for LND v0.18.3-beta
  docker/README.md
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for litd v0.13.995-experimental
  docker/README.md
  src/lib/lightning/lnd/mappers.ts
  src/utils/chart.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for Bitcoin Core v28.0
  README.md
  docker/README.md
  docker/bitcoind/Dockerfile
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(eclair): improve large payment failures
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for CLN v24.08.1
  docker/README.md
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

docs: update node versions in README
  README.md
Due: prettier --single-quote --write

Update Eclair section of Build Custom Node Images
  docs/custom-nodes.md
Due: prettier --single-quote --write

fix: warning about user uid greater than SYS_UID_MAX
  docker/bitcoind/docker-entrypoint.sh
  docker/clightning/docker-entrypoint.sh
  docker/eclair/docker-entrypoint.sh
  docker/litd/docker-entrypoint.sh
  docker/lnd/docker-entrypoint.sh
  docker/tapd/docker-entrypoint.sh
Due: none

feat(litd): use new invoice RPCs in the lit store
  src/components/designer/lightning/actions/CreateInvoiceModal.tsx
  src/i18n/locales/en-US.json
  src/store/models/lit.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add litd v0.14.0-alpha.rc1 docker version
  docker/README.md
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tapd): add invoice RPCs to tapdService
  electron/tapd/tapdProxyServer.ts
  src/lib/tap/tapd/tapdProxyClient.ts
  src/lib/tap/tapd/tapdService.ts
  src/shared/ipcChannels.ts
  src/shared/tapdDefaults.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(deps): update @lightningpolar/tapd-api to 0.5.0-alpha.rc1
  docker/litd/src.Dockerfile
  package.json
  yarn.lock
Due: none

test(tapd): update unit tests for paying asset invoices
  src/components/designer/lightning/actions/CreateInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
  src/components/designer/tap/actions/MintAssetModal.spec.tsx
  src/components/designer/tap/actions/SendAssetModal.spec.tsx
  src/lib/tap/tapd/tapProxyClient.spec.ts
  src/lib/tap/tapd/tapdService.spec.ts
  src/store/models/lit.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tapd): remove buy/sell order RPC methods
  electron/tapd/tapdProxyServer.ts
  src/lib/tap/tapd/tapdProxyClient.ts
  src/lib/tap/tapd/tapdService.ts
  src/shared/ipcChannels.ts
  src/shared/tapdDefaults.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
