Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

revert(deps): downgrade dependency electron-debug to v3.2.0
  .renovaterc
  package.json
  yarn.lock
Due: none

feat: remember node counts when creating new networks
  src/components/network/NewNetwork.spec.tsx
  src/components/network/NewNetwork.tsx
  src/lib/settings/settingsService.spec.ts
  src/store/models/app.spec.ts
  src/store/models/app.ts
  src/store/models/network.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(deps): update dependency detect-port to v1.6.1
  package.json
  yarn.lock
Due: none

feat: add custom baseport for nodes
  src/components/common/NavMenu.tsx
  src/components/network/NetworkSetting.tsx
  src/components/routing/Routes.tsx
  src/components/routing/index.ts
  src/i18n/locales/en-US.json
  src/lib/settings/settingsService.spec.ts
  src/store/models/app.spec.ts
  src/store/models/app.ts
  src/types/index.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: allow changing the base port for GRPC
  src/components/network/NetworkSetting.tsx
  src/i18n/locales/en-US.json
  src/lib/settings/settingsService.spec.ts
  src/shared/types.ts
  src/store/models/app.spec.ts
  src/store/models/app.ts
  src/types/index.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

refactor: add type to main types file and add test
  src/components/common/NavMenu.tsx
  src/components/network/NetworkSetting.spec.tsx
  src/components/network/NetworkSetting.tsx
  src/shared/types.ts
  src/store/models/app.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

refactor: update code formatting
  src/components/network/NetworkSetting.tsx
  src/types/index.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

feat(images): add support for LND v0.18.0-beta
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: use simln docker image for node activity simulation
  .vscode/settings.json
  docker/nodes.json
  src/components/designer/ActivityGenerator.tsx
  src/components/designer/default/cards/ActivityDesignerCard.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/config.ts
  src/utils/constants.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add and remove simulation activities
  src/components/designer/ActivityGenerator.tsx
  src/components/designer/default/cards/ActivityDesignerCard.tsx
  src/store/models/network.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: update activity logic
  src/components/designer/ActivityGenerator.tsx
  src/components/designer/default/cards/ActivityDesignerCard.tsx
  src/store/models/network.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(designer): add activity designer component
  src/components/designer/ActivityGenerator.tsx
  src/components/designer/Sidebar.tsx
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/default/DefaultSidebar.tsx
  src/components/designer/default/cards/ActivityDesignerCard.tsx
  src/components/designer/default/cards/NetworkDesignerCard.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add simulation activities and update network sidebar
  src/components/designer/ActivityGenerator.tsx
  src/components/designer/Sidebar.tsx
  src/components/designer/default/DefaultSidebar.tsx
  src/components/designer/default/cards/ActivityDesignerCard.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.ts
  src/types/index.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: rebase on updated master branch
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: update simulation activity logic and volumes configuration
  docker/nodes.json
  src/components/designer/default/cards/ActivityDesignerCard.tsx
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: ui suggested changes
  src/components/designer/ActivityGenerator.tsx
  src/components/designer/default/DefaultSidebar.tsx
  src/components/designer/default/cards/ActivityDesignerCard.tsx
  src/i18n/locales/en-US.json
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add starting and stopping states to ActivityDesignerCard
  src/components/designer/custom/NodeInner.tsx
  src/components/designer/default/cards/ActivityDesignerCard.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(windowManager,assets): fix tray menu icons on windows
  assets/icons/tray/1024x1024-white.png
  assets/icons/tray/16x16Template.png
  assets/icons/tray/minimize/16x16Template.png
  assets/icons/tray/minimize/16x16icon-dark.png
  assets/icons/tray/minimize/16x16icon-light.png
  assets/icons/tray/minimize/96x96icon-dark.png
  assets/icons/tray/minimize/96x96icon-light.png
  assets/icons/tray/quit/16x16Template.png
  assets/icons/tray/quit/16x16icon-dark.png
  assets/icons/tray/quit/16x16icon-light.png
  assets/icons/tray/quit/96x96icon-dark.png
  assets/icons/tray/quit/96x96icon-light.png
  assets/icons/tray/show/16x16Template.png
  assets/icons/tray/show/16x16icon-dark.png
  assets/icons/tray/show/16x16icon-light.png
  assets/icons/tray/show/96x96icon-dark.png
  assets/icons/tray/show/96x96icon-light.png
  electron/windowManager.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(electron): use dark icon on Windows light mode
  assets/icons/tray/1024x1024-dark.png
  assets/icons/tray/1024x1024-light.png
  electron/windowManager.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

refactor: extract tray management into a new class
  electron/trayManager.ts
  electron/windowManager.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(app): added app tray icon to minimize, maximize and quit (#842)
  assets/icons/tray/1024x1024-dark.png
  assets/icons/tray/1024x1024-light.png
  assets/icons/tray/16x16Template.png
  assets/icons/tray/minimize/16x16Template.png
  assets/icons/tray/minimize/16x16icon-dark.png
  assets/icons/tray/minimize/16x16icon-light.png
  assets/icons/tray/minimize/96x96icon-dark.png
  assets/icons/tray/minimize/96x96icon-light.png
  assets/icons/tray/quit/16x16Template.png
  assets/icons/tray/quit/16x16icon-dark.png
  assets/icons/tray/quit/16x16icon-light.png
  assets/icons/tray/quit/96x96icon-dark.png
  assets/icons/tray/quit/96x96icon-light.png
  assets/icons/tray/show/16x16Template.png
  assets/icons/tray/show/16x16icon-dark.png
  assets/icons/tray/show/16x16icon-light.png
  assets/icons/tray/show/96x96icon-dark.png
  assets/icons/tray/show/96x96icon-light.png
  electron/trayManager.ts
  electron/windowManager.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for Core Lightning v24.02.2
  README.md
  docker/README.md
  docker/clightning/Dockerfile
  docker/clightning/Dockerfile.arm64
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: update unit tests for the clnrest API
  src/components/designer/lightning/LightningDetails.spec.tsx
  src/components/designer/lightning/connect/EncodedStrings.spec.tsx
  src/lib/lightning/clightning/clightningApi.spec.ts
  src/lib/lightning/clightning/clightningService.spec.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/lightningFactory.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(cln): use the clnrest plugin for API requests
  src/components/designer/lightning/ConnectTab.tsx
  src/components/designer/lightning/connect/EncodedStrings.tsx
  src/components/designer/lightning/connect/FilePaths.tsx
  src/i18n/locales/en-US.json
  src/lib/lightning/clightning/clightningApi.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/clightning/types.ts
  src/shared/types.ts
  src/store/models/lightning.ts
  src/utils/constants.ts
  src/utils/files.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

docs(cln): update the custom node info for CLN
  docs/custom-nodes.md
Due: prettier --single-quote --write
