Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

docs: add LND wallet lock, unlock and restore guide [ci skip]
  docs/lnd-wallet.md
Due: prettier --single-quote --write

feat(tor-support): add Tor support for terminal nodes Extends existing Tor functionality to terminal lightning nodes.
  docker/litd/Dockerfile
  docker/litd/docker-entrypoint.sh
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/composeFile.ts
  src/lib/lightning/clightning/clightningService.spec.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tor-support): inherit Tor state for new nodes and disable network toggle when started
  src/i18n/locales/en-US.json
  src/store/models/network.spec.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add per-node Tor toggle functionality
  src/components/common/TorButton.spec.tsx
  src/components/common/TorButton.tsx
  src/components/common/index.ts
  src/components/designer/NodeContextMenu.tsx
  src/components/designer/bitcoin/ActionsTab.tsx
  src/components/designer/lightning/ActionsTab.tsx
  src/i18n/locales/en-US.json
  src/lib/lightning/lnd/lndService.spec.ts
  src/store/models/designer.spec.ts
  src/store/models/designer.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tor-support): add bitcoin network info and P2P host display
  src/components/designer/bitcoin/ConnectTab.tsx
  src/lib/bitcoin/bitcoind/bitcoindService.spec.ts
  src/lib/bitcoin/bitcoind/bitcoindService.ts
  src/lib/bitcoin/notImplementedService.spec.ts
  src/lib/bitcoin/notImplementedService.ts
  src/store/models/bitcoin.spec.ts
  src/store/models/bitcoin.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/types/bitcoin-core.d.ts
  src/types/index.ts
  src/utils/strings.spec.ts
  src/utils/strings.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tor-support): add Tor support for Bitcoin nodes
  docker/bitcoind/Dockerfile
  docker/bitcoind/docker-entrypoint.sh
  src/lib/docker/composeFile.ts
  src/store/models/designer.ts
  src/store/models/network.ts
  src/utils/chart.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tor-support): add Tor support for C-lightning nodes
  docker/clightning/Dockerfile
  docker/clightning/docker-entrypoint.sh
  src/lib/docker/composeFile.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/clightning/types.ts
  src/store/models/network.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tor-support): add tor icon for tor enabled nodes
  src/components/designer/custom/NodeInner.tsx
  src/resources/onion.png
  src/store/models/designer.ts
  src/store/models/network.ts
  src/utils/chart.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tor-support): add tor support for lnd
  docker/lnd/Dockerfile
  docker/lnd/docker-entrypoint.sh
  src/components/common/AdvancedOptionsButton.tsx
  src/components/network/NetworkActions.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/composeFile.ts
  src/shared/types.ts
  src/store/models/network.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tor-support): add Tor support for eclair nodes Extends existing Tor functionality to eclair lightning nodes.
  docker/eclair/Dockerfile
  docker/eclair/docker-entrypoint.sh
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/composeFile.ts
  src/utils/network.spec.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tor-support): p2pExternal address & tor flag modifications
  src/components/designer/lightning/ConnectTab.tsx
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: add test coverage for Tor Network Toggle
  src/components/network/NetworkActions.spec.tsx
  src/lib/docker/composeFile.spec.ts
  src/lib/lightning/lnd/lndService.spec.ts
  src/store/models/designer.spec.ts
  src/store/models/network.spec.ts
  src/utils/network.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tor-support): improve network startup reliability
  electron/lnd/lndProxyServer.ts
  src/lib/docker/composeFile.ts
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/lightning/lnd/lndService.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: add missing branch coverage
  src/components/designer/lightning/LightningDetails.spec.tsx
  src/lib/lightning/clightning/clightningService.spec.ts
  src/store/models/network.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
