Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

feat(images): add support for Core Lightning v23.11.2
  README.md
  docker/README.md
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(cln): use the WebSocket for real-time events
  package.json
  src/lib/lightning/clightning/clightningApi.spec.ts
  src/lib/lightning/clightning/clightningApi.ts
  src/lib/lightning/clightning/clightningService.spec.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/clightning/types.ts
  src/lib/lightning/eclair/eclairApi.spec.ts
  src/lib/lightning/eclair/eclairApi.ts
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/lnd/lndService.ts
  src/store/models/lightning.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

ci: prevent duplicate CI runs for PRs
  .github/workflows/main.yml
Due: prettier --single-quote --write

feat(images): add support for Core Lightning v24.05
  README.md
  RELEASE.md
  docker/README.md
  docker/clightning/Dockerfile
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(deps): fix @lightningpolar/tapd-api package reference
  package.json
  yarn.lock
Due: none

docs(cln): update the custom node info for CLN
  docs/custom-nodes.md
Due: prettier --single-quote --write

feat(images): add support for Core Lightning v24.02.2
  README.md
  docker/README.md
  docker/clightning/Dockerfile
  docker/clightning/Dockerfile.arm64
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(cln): use the clnrest plugin for API requests
  src/components/designer/lightning/ConnectTab.tsx
  src/components/designer/lightning/connect/EncodedStrings.tsx
  src/components/designer/lightning/connect/FilePaths.tsx
  src/i18n/locales/en-US.json
  src/lib/lightning/clightning/clightningApi.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/clightning/types.ts
  src/shared/types.ts
  src/store/models/lightning.ts
  src/utils/constants.ts
  src/utils/files.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: update unit tests for the clnrest API
  src/components/designer/lightning/LightningDetails.spec.tsx
  src/components/designer/lightning/connect/EncodedStrings.spec.tsx
  src/lib/lightning/clightning/clightningApi.spec.ts
  src/lib/lightning/clightning/clightningService.spec.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/lightningFactory.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

feat(rename): add rename button
  src/components/designer/lightning/LightningDetails.tsx
  src/i18n/locales/de-DE.json
  src/i18n/locales/en-US.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): add rename node method
  src/components/designer/Sidebar.tsx
  src/components/designer/lightning/LightningDetails.tsx
  src/store/models/lightning.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): rename node method to network store
  src/components/designer/lightning/LightningDetails.tsx
  src/store/models/lightning.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): rename bitcoin node
  src/components/common/RenameNode.tsx
  src/store/models/designer.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): stop node before rename
  src/components/designer/lightning/LightningDetails.tsx
  src/store/models/designer.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): rename lnd host directory
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): fix save issue
  src/components/designer/lightning/LightningDetails.tsx
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): remove side button and add a button to actions tab
  src/components/common/RenameNode.tsx
  src/components/common/index.ts
  src/components/designer/bitcoind/ActionsTab.tsx
  src/components/designer/lightning/ActionsTab.tsx
  src/components/designer/lightning/LightningDetails.tsx
  src/components/designer/tap/ActionsTab.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename node): add update dir function to docker service
  src/components/common/RenameNodeButton.tsx
  src/components/common/RenameNodeModal.tsx
  src/components/common/form/RenameNodeInput.tsx
  src/lib/docker/dockerService.ts
  src/store/models/designer.ts
  src/store/models/modals.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/network.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): update bitcoin node links and fix tap paths
  src/components/common/RenameNode.tsx
  src/store/models/designer.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): update designer store
  src/components/designer/Sidebar.tsx
  src/components/designer/lightning/LightningDetails.tsx
  src/store/models/designer.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): add to rightclick menu
  src/components/common/RenameNode.tsx
  src/components/designer/NodeContextMenu.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename node): rename node modal
  .vscode/settings.json
  src/components/common/RenameNode.tsx
  src/components/common/RenameNodeButton.tsx
  src/components/common/RenameNodeModal.tsx
  src/components/common/form/RenameNodeInput.tsx
  src/components/common/index.ts
  src/components/designer/NetworkDesigner.tsx
  src/components/designer/NodeContextMenu.tsx
  src/components/designer/bitcoind/ActionsTab.tsx
  src/components/designer/lightning/ActionsTab.tsx
  src/components/designer/tap/ActionsTab.tsx
  src/i18n/locales/en-US.json
  src/shared/types.ts
  src/store/models/lightning.ts
  src/store/models/modals.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): fix ports issue
  src/store/models/designer.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): rename taproot node
  src/components/common/RenameNode.tsx
  src/shared/types.ts
  src/store/models/designer.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): update file paths
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Revert "feat(rename): add rename button"
  .vscode/settings.json
  src/components/designer/lightning/LightningDetails.tsx
  src/i18n/locales/de-DE.json
  src/i18n/locales/en-US.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write
