Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --parser json --write"
  ],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

feat(designer): move sync button to actions toolbar
  src/components/designer/Sidebar.tsx
  src/components/designer/SyncButton.tsx
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/default/DefaultSidebar.tsx
  src/components/network/NetworkActions.spec.tsx
  src/components/network/NetworkActions.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

chore(i18n): new Crowdin updates (#579)
  src/i18n/locales/de-DE.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: none

chore(build): add RPM target to releases
  .electronbuildrc
Due: none

fix(cln): handle error when funding txid is undefined
  src/lib/lightning/clightning/clightningService.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(release): bump version to v1.4.0 and update changelog
  CHANGELOG.md
  README.md
  package.json
Due: prettier --single-quote --write

feat(images): add support for LND v0.15.2-beta
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

Update custom-nodes.md
  docs/custom-nodes.md
Due: prettier --single-quote --write

Missing address flag for announcing externally
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix(cln): Missing address flag for announcing externally (#608)
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

docs(custom-nodes): add no-cache flag for docker build (#607)
  docs/custom-nodes.md
Due: prettier --single-quote --write

feat(terminal): revert to yarn.lock from master branch
  yarn.lock
Due: none

fix(docker): add ability to specify custom paths
  src/components/home/DetectDockerModal.spec.tsx
  src/components/home/DetectDockerModal.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/lib/settings/settingsService.spec.ts
  src/store/models/app.spec.ts
  src/store/models/app.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix(deps): change antd Modal visible props to open
  src/components/common/AdvancedOptionsModal.tsx
  src/components/common/ImageUpdatesModal.tsx
  src/components/common/StatusBadge.tsx
  src/components/designer/bitcoind/actions/SendOnChainModal.tsx
  src/components/designer/lightning/actions/ChangeBackendModal.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.tsx
  src/components/designer/lightning/actions/OpenChannelModal.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.tsx
  src/components/home/DetectDockerModal.tsx
  src/components/nodeImages/CustomImageModal.tsx
  src/components/nodeImages/ManagedImageModal.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add support for LND v0.15.3-beta and v0.15.4-beta
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write
