Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --parser json --write"
  ],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

feat(lnd): use new fancy logo for LND nodes
  src/lib/docker/dockerService.spec.ts
  src/resources/lnd.png
  src/utils/constants.ts
  src/utils/migrations.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency @ant-design/icons to v4.0.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency fetch-mock to v9
  package.json
  yarn.lock
Due: none

chore(deps): update dependency babel-plugin-emotion to v10.0.29
  package.json
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v2.22.0
  package.json
  yarn.lock
Due: none

test(contextmenu): add and update unit tests for context menus
  src/components/common/RemoveNode.spec.tsx
  src/components/designer/LinkContextMenu.spec.tsx
  src/components/designer/LinkContextMenu.tsx
  src/components/designer/NodeContextMenu.spec.tsx
  src/components/designer/NodeContextMenu.tsx
  src/components/designer/custom/Link.tsx
  src/components/designer/custom/NodeInner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

refactor(removenode): combine multiple RemoveNode components
  src/components/common/RemoveNode.spec.tsx
  src/components/common/RemoveNode.tsx
  src/components/common/index.ts
  src/components/designer/bitcoind/ActionsTab.tsx
  src/components/designer/bitcoind/actions/RemoveNode.spec.tsx
  src/components/designer/bitcoind/actions/RemoveNode.tsx
  src/components/designer/custom/NodeContextMenu.tsx
  src/components/designer/lightning/ActionsTab.tsx
  src/components/designer/lightning/actions/index.ts
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(designer): add right-click menu to links
  src/components/designer/custom/Link.tsx
  src/components/designer/custom/LinkContextMenu.tsx
  src/components/designer/custom/NodeContextMenu.tsx
  src/components/designer/link/Backend.tsx
  src/components/designer/link/ChangeBackendButton.tsx
  src/components/designer/link/Channel.tsx
  src/components/designer/link/CloseChannelButton.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(designer): add right-click menu to chart nodes
  TODO.md
  src/components/common/AdvancedOptionsButton.tsx
  src/components/common/RestartNode.tsx
  src/components/designer/custom/NodeContextMenu.tsx
  src/components/designer/custom/NodeInner.tsx
  src/components/designer/lightning/actions/OpenChannelButtons.tsx
  src/components/designer/lightning/actions/PaymentButtons.tsx
  src/components/designer/lightning/actions/RemoveNode.tsx
  src/components/terminal/OpenTerminalButton.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(deps): update dependency electron-builder to v22.3.6
  package.json
  yarn.lock
Due: none

chore(deps): update dependency cross-env to v7.0.1
  package.json
  yarn.lock
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

chore(deps): update dependency fetch-mock to v9.1.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency antd to v4.0.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @testing-library/react to v9.5.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency electron-builder to v22.4.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency cross-env to v7.0.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency fetch-mock to v9.1.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency docker-compose to v0.23.3
  package.json
  yarn.lock
Due: none

ci(codecov): fix code coverage reporting on PRs from forks
  .github/workflows/main.yml
  package.json
  yarn.lock
Due: prettier --single-quote --write
