Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

fix(types): updated eclair node compatibility
  src/lib/lightning/eclair/eclairService.spec.ts
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/eclair/types.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(types): updated ChannelData interface typings
  src/lib/lightning/eclair/types.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(EclairService): fixed bug that filters channel data
  src/lib/lightning/eclair/eclairService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(release): bump version to v2.1.0 and update changelog
  CHANGELOG.md
  package.json
Due: prettier --single-quote --write

chore(deps): downgrade dependency electron-is-dev to v2.0.0
  .renovaterc
  package.json
  yarn.lock
Due: none

fix(ui): prevent nav menu from collapsing
  src/components/common/NavMenu.tsx
  src/components/layouts/AppLayout.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(eclair): update docker entrypoint script for Eclair >=v8.0.0
  docker/eclair/docker-entrypoint.sh
Due: none

chore: add btcd docker images
  .vscode/settings.json
  docker/btcd/Dockerfile
Due: none

chore: modify the btcd docker image and add docker entrypoint
  docker/btcd/Dockerfile
  docker/btcd/docker-entrypoint.sh
Due: none

chore: add btcd node as a possible bitcoin backend
  docker/btcd/Dockerfile
  docker/nodes.json
  src/lib/bitcoin/BitcoinFactory.ts
  src/lib/bitcoin/bitcoindService.spec.ts
  src/lib/bitcoin/btcd/btcdService.ts
  src/lib/bitcoin/index.ts
  src/lib/docker/nodeTemplates.ts
  src/lib/lightning/eclair/eclairService.ts
  src/resources/btcd.png
  src/shared/types.ts
  src/store/index.ts
  src/store/models/bitcoind.ts
  src/store/models/lightning.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/constants.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: add btcd node as a possible bitcoin backend
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): add rename button
  .vscode/settings.json
  src/components/designer/lightning/LightningDetails.tsx
  src/i18n/locales/de-DE.json
  src/i18n/locales/en-US.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): add rename node method
  src/components/designer/Sidebar.tsx
  src/components/designer/lightning/LightningDetails.tsx
  src/store/models/lightning.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): rename node method to network store
  src/components/designer/lightning/LightningDetails.tsx
  src/store/models/lightning.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(Network): add description field
  .vscode/settings.json
  src/components/home/NetworkCard.tsx
  src/components/network/NetworkView.tsx
  src/components/network/NewNetwork.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.ts
  src/types/index.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(rename): update designer store
  src/components/designer/Sidebar.tsx
  src/components/designer/lightning/LightningDetails.tsx
  src/store/models/designer.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for LND v0.17.4-beta
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for Eclair v0.10.0
  README.md
  docker/README.md
  docker/nodes.json
  src/lib/lightning/eclair/eclairService.spec.ts
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/eclair/types.ts
  src/utils/constants.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for tapd v0.3.2-alpha
  README.md
  docker/README.md
  docker/nodes.json
  package.json
  src/shared/tapdDefaults.ts
  src/store/models/designer.spec.ts
  src/store/models/tap.ts
  src/utils/constants.ts
  src/utils/tests/helpers.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(deps): update @lightningpolar/tapd-api to v0.3.1
  package.json
  yarn.lock
Due: none

fix(tapd): resolve breaking changes in tapd v0.3.1
  electron/tapd/tapdProxyServer.ts
  src/lib/tap/tapd/tapdService.ts
  src/shared/tapdDefaults.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for tapd v0.3.1-alpha
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test(tapd): update unit tests for tapd v0.3.1
  src/components/designer/tap/actions/MintAssetModal.spec.tsx
  src/lib/tap/tapd/tapdService.spec.ts
  src/store/models/designer.spec.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for tapd v0.3.3-alpha
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(release): bump version to v2.2.0 and update changelog
  CHANGELOG.md
  README.md
  package.json
Due: prettier --single-quote --write

feat(Network): fixed lint issues
  src/components/common/AdvancedOptionsModal.spec.tsx
  src/components/common/RemoveNode.spec.tsx
  src/components/common/RestartNode.spec.tsx
  src/components/common/form/TapDataSelect.spec.tsx
  src/components/common/form/TapNodeSelect.spec.tsx
  src/components/designer/AutoMineButton.spec.tsx
  src/components/designer/LinkContextMenu.spec.tsx
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/NodeContextMenu.spec.tsx
  src/components/designer/Sidebar.spec.tsx
  src/components/designer/bitcoind/BitcoindDetails.spec.tsx
  src/components/designer/bitcoind/actions/MineBlocksInput.spec.tsx
  src/components/designer/bitcoind/actions/SendOnChainModal.spec.tsx
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/lightning/actions/ChangeBackendModal.spec.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
  src/components/designer/link/Channel.spec.tsx
  src/components/designer/link/LinkDetails.spec.tsx
  src/components/designer/link/TapBackend.spec.tsx
  src/components/designer/tap/TapNodeDetails.spec.tsx
  src/components/designer/tap/actions/ChangeTapBackendModal.spec.tsx
  src/components/designer/tap/actions/MintAssetModal.spec.tsx
  src/components/designer/tap/actions/NewAddressModal.spec.tsx
  src/components/designer/tap/actions/SendAssetModal.spec.tsx
  src/components/home/NetworkCard.spec.tsx
  src/components/network/ImportNetwork.spec.tsx
  src/components/network/NetworkActions.spec.tsx
  src/components/network/NetworkView.spec.tsx
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/dockerService.spec.ts
  src/store/models/designer.spec.ts
  src/store/models/network.spec.ts
  src/store/models/tap.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Fix japanese
  src/i18n/locales/ja-JP.json
Due: none

feat(rename): fix ports issue
  src/store/models/designer.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
