Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --parser json --write"
  ],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

feat(eclair): implement all remaining LightningService methods
  electron/httpProxy.ts
  src/components/designer/NodeContextMenu.tsx
  src/lib/lightning/eclair/eclairApi.ts
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/eclair/types.ts
  src/lib/lightning/types.ts
  src/store/models/designer.ts
  src/store/models/lightning.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(eclair): add ability to create a network with Eclair nodes
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/network/NewNetwork.spec.tsx
  src/components/network/NewNetwork.tsx
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/eclair/index.ts
  src/lib/lightning/lightningFactory.ts
  src/resources/eclair.png
  src/shared/types.ts
  src/store/models/designer.spec.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/chart.ts
  src/utils/constants.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(eclair): mine first block when the network starts
  src/store/models/bitcoind.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(eclair): implement data fetching from eclair REST API
  electron/appIpcListener.ts
  electron/httpProxy.ts
  package.json
  src/i18n/locales/en-US.json
  src/lib/docker/composeFile.ts
  src/lib/ipc/ipcService.ts
  src/lib/lightning/eclair/eclairApi.ts
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/eclair/types.ts
  src/lib/lightning/lightningFactory.spec.ts
  src/shared/ipcChannels.ts
  src/utils/constants.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(eclair): add eclair to the network used for unit tests
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/lightning/actions/ChangeBackendModal.spec.tsx
  src/components/designer/link/Channel.spec.tsx
  src/components/home/NetworkCard.spec.tsx
  src/components/network/NetworkView.spec.tsx
  src/components/nodeImages/ManagedImageModal.spec.tsx
  src/lib/docker/dockerService.spec.ts
  src/utils/constants.ts
  src/utils/network.spec.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

refactor(lightning): refactor redundant cast in lightning services
  src/components/designer/LinkContextMenu.tsx
  src/components/designer/NodeContextMenu.tsx
  src/lib/lightning/clightning/clightningApi.spec.ts
  src/lib/lightning/clightning/clightningApi.ts
  src/lib/lightning/clightning/clightningService.spec.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/eclair/eclairApi.ts
  src/lib/lightning/eclair/eclairService.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(eclair): update Connect tab for eclair nodes
  src/components/designer/lightning/ConnectTab.tsx
  src/components/designer/lightning/LightningDetails.spec.tsx
  src/components/designer/lightning/connect/BasicAuth.tsx
  src/components/designer/lightning/connect/FilePaths.tsx
  src/components/designer/lightning/connect/index.ts
  src/i18n/locales/en-US.json
  src/lib/lightning/eclair/eclairApi.ts
  src/lib/lightning/eclair/eclairService.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(eclair): add additional unit tests for eclair
  src/components/designer/lightning/ConnectTab.tsx
  src/components/designer/lightning/LightningDetails.spec.tsx
  src/components/designer/lightning/connect/BasicAuth.tsx
  src/components/designer/lightning/connect/EncodedStrings.spec.tsx
  src/lib/bitcoin/bitcoindService.spec.ts
  src/lib/docker/dockerService.spec.ts
  src/lib/lightning/eclair/eclairApi.spec.ts
  src/lib/lightning/eclair/eclairApi.ts
  src/lib/lightning/eclair/eclairService.spec.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

test(eclair): add and update unit tests for eclair support
  src/lib/lightning/eclair/eclairService.spec.ts
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/eclair/types.ts
  src/store/models/network.spec.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix(eclair): fix channel balances displaying incorrectly
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/eclair/types.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix(eclair): fix unit tests and minor UI improvements
  src/__mocks__/electron.js
  src/components/common/NavMenu.spec.tsx
  src/components/designer/lightning/ConnectTab.tsx
  src/components/network/NetworkView.tsx
  src/components/terminal/DockerTerminal.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(eclair): implement getBalances for eclair nodes
  src/components/terminal/DockerTerminal.tsx
  src/lib/bitcoin/bitcoindService.ts
  src/lib/lightning/eclair/eclairService.ts
  src/shared/types.ts
  src/store/models/lightning.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(eclair): add initial Dockerfile for eclair
  docker/README.md
  docker/eclair/Dockerfile
  docker/eclair/docker-entrypoint.sh
Due: prettier --single-quote --write

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none
