Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

feat(litd): bump litd docker image to 0.13.0-alpha.rc1
  README.md
  docker/README.md
  docker/litd/Dockerfile
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): add more info to Create Invoice modal
  electron/lnd/lndProxyServer.ts
  src/components/designer/lightning/InfoTab.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.tsx
  src/components/terminal/DockerTerminal.tsx
  src/i18n/locales/en-US.json
  src/store/models/lit.spec.ts
  src/store/models/lit.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: replace @radar/lnrpc with @lightningpolar/lnd-api
  .renovaterc
  electron/lnd/lndProxyServer.ts
  package.json
  src/components/designer/tap/actions/MintAssetModal.spec.tsx
  src/lib/lightning/lnd/lndProxyClient.ts
  src/lib/lightning/lnd/lndService.ts
  src/lib/lightning/lnd/mappers.ts
  src/lib/tap/tapd/tapdService.spec.ts
  src/shared/lndDefaults.ts
  src/store/models/lightning.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): allow New Address for litd nodes
  src/components/designer/tap/actions/NewAddressButton.tsx
  src/components/designer/tap/actions/NewAddressModal.tsx
  src/store/models/designer.ts
  src/store/models/modals.ts
  src/store/models/tap.ts
  src/utils/constants.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): improve asset invoice payments
  electron/lnd/lndProxyServer.ts
  src/components/designer/lightning/actions/CreateInvoiceModal.tsx
  src/components/designer/lightning/actions/OpenChannelModal.tsx
  src/components/designer/tap/actions/MintAssetModal.tsx
  src/lib/lightning/lnd/lndProxyClient.ts
  src/lib/lightning/lnd/lndService.ts
  src/lib/tap/tapd/tapdService.ts
  src/shared/ipcChannels.ts
  src/store/models/lit.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): update onchain asset transfer labels
  src/components/designer/NodeContextMenu.spec.tsx
  src/components/designer/tap/TapNodeDetails.spec.tsx
  src/components/designer/tap/actions/NewAddressModal.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): push 5k sats when an asset channel is opened
  docker/litd/src.Dockerfile
  package.json
  src/lib/tap/tapd/tapdService.ts
  src/utils/constants.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): properly wait for litd nodes to start
  src/lib/litd/litdService.ts
  src/store/models/lightning.ts
  src/store/models/network.ts
  src/store/models/tap.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): update sidebar for litd nodes
  electron/tapd/tapdProxyServer.ts
  src/components/designer/lightning/ActionsTab.tsx
  src/components/designer/lightning/ConnectTab.tsx
  src/components/designer/lightning/InfoTab.tsx
  src/components/designer/lightning/LightningDetails.tsx
  src/components/designer/lightning/connect/EncodedStrings.tsx
  src/components/designer/lightning/connect/FilePaths.tsx
  src/components/designer/tap/ActionsTab.tsx
  src/components/designer/tap/ConnectTab.tsx
  src/components/designer/tap/InfoTab.tsx
  src/components/designer/tap/actions/MintAssetModal.tsx
  src/components/designer/tap/actions/NewAddressModal.tsx
  src/components/designer/tap/actions/SendAssetModal.tsx
  src/components/designer/tap/info/AssetsList.tsx
  src/i18n/locales/en-US.json
  src/shared/types.ts
  src/store/models/designer.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): support importing litd nodes
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): open an asset channel
  electron/tapd/tapdProxyServer.ts
  src/components/common/form/TapAssetSelect.tsx
  src/components/designer/lightning/actions/OpenChannelModal.tsx
  src/i18n/locales/en-US.json
  src/lib/tap/tapd/tapdProxyClient.ts
  src/lib/tap/tapd/tapdService.spec.ts
  src/lib/tap/tapd/tapdService.ts
  src/shared/ipcChannels.ts
  src/shared/tapdDefaults.ts
  src/store/models/tap.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): create an asset invoice
  electron/tapd/tapdProxyServer.ts
  src/components/designer/lightning/actions/CreateInvoiceModal.tsx
  src/i18n/locales/en-US.json
  src/lib/lightning/lnd/lndService.ts
  src/lib/tap/tapd/tapdProxyClient.ts
  src/lib/tap/tapd/tapdService.ts
  src/lib/tap/types.ts
  src/shared/ipcChannels.ts
  src/store/models/lit.ts
  src/store/models/modals.ts
  src/store/models/tap.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): update colors of bitcoin/asset channels
  src/components/designer/NetworkDesigner.tsx
  src/components/designer/custom/CanvasOuter.tsx
  src/components/designer/custom/CanvasOuterDark.tsx
  src/components/designer/custom/Link.tsx
  src/components/designer/custom/Port.tsx
  src/components/designer/custom/index.ts
  src/theme/colors.ts
  src/utils/chart.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): update litd command flags
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): allow Send Asset for litd nodes
  src/components/designer/tap/actions/NewAddressModal.tsx
  src/components/designer/tap/actions/SendAssetButton.tsx
  src/components/designer/tap/actions/SendAssetModal.tsx
  src/store/models/designer.ts
  src/store/models/modals.ts
  src/store/models/tap.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(network): add tapd & litd to the New Network screen
  src/components/designer/bitcoind/actions/SendOnChainModal.spec.tsx
  src/components/network/NewNetwork.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/dockerService.spec.ts
  src/store/models/designer.spec.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/chart.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test(litd): add and update unit tests for litd
  src/components/common/DockerContainerShutdown.spec.tsx
  src/components/common/RenameNodeModal.spec.tsx
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/default/DraggableNode.tsx
  src/components/designer/lightning/LightningDetails.spec.tsx
  src/components/designer/lightning/connect/LncAddSessionModal.spec.tsx
  src/components/designer/lightning/connect/LncRevokeButton.tsx
  src/components/designer/lightning/connect/LncSessionDrawer.spec.tsx
  src/components/designer/lightning/connect/LncSessionDrawer.tsx
  src/components/designer/lightning/connect/LncSessionsList.tsx
  src/components/designer/tap/TapNodeDetails.spec.tsx
  src/components/designer/tap/actions/MintAssetModal.spec.tsx
  src/components/designer/tap/actions/NewAddressModal.spec.tsx
  src/components/designer/tap/actions/NewAddressModal.tsx
  src/components/designer/tap/actions/SendAssetModal.spec.tsx
  src/components/designer/tap/actions/SendAssetModal.tsx
  src/components/network/NewNetwork.spec.tsx
  src/components/nodeImages/ManagedImageModal.spec.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/dockerService.spec.ts
  src/lib/litd/litdProxyClient.spec.ts
  src/lib/litd/litdService.spec.ts
  src/lib/tap/tapd/tapdService.spec.ts
  src/shared/litdDefaults.ts
  src/store/models/lit.spec.ts
  src/store/models/modals.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/store/models/tap.ts
  src/utils/chart.spec.ts
  src/utils/network.spec.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
  src/utils/tests/renderWithProviders.tsx
  src/utils/tests/testStateDefaults.ts
  wallaby.js
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): pay an asset invoice
  electron/litd/litdProxyServer.ts
  electron/lnd/lndProxyServer.ts
  electron/tapd/tapdProxyServer.ts
  src/components/designer/custom/Link.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.tsx
  src/components/designer/tap/actions/MintAssetModal.tsx
  src/i18n/locales/en-US.json
  src/lib/ipc/ipcService.ts
  src/lib/lightning/clightning/clightningService.ts
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/lnd/lndProxyClient.ts
  src/lib/lightning/lnd/lndService.ts
  src/lib/lightning/lnd/mappers.ts
  src/lib/lightning/notImplementedService.ts
  src/lib/lightning/types.ts
  src/lib/tap/tapd/tapdProxyClient.ts
  src/lib/tap/tapd/tapdService.ts
  src/lib/tap/types.ts
  src/shared/ipcChannels.ts
  src/shared/utils.ts
  src/store/models/lightning.ts
  src/store/models/lit.ts
  src/types/index.ts
  src/utils/constants.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(sidebar): expand each node separately
  src/components/designer/default/DefaultSidebar.tsx
  src/components/designer/default/DraggableNode.tsx
  src/i18n/locales/en-US.json
  src/lib/settings/settingsService.spec.ts
  src/store/models/app.spec.ts
  src/store/models/app.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): allow Mint Asset for litd nodes
  electron/tapd/tapdProxyServer.ts
  src/components/designer/NodeContextMenu.tsx
  src/components/designer/tap/actions/MintAssetButton.tsx
  src/components/designer/tap/actions/MintAssetModal.tsx
  src/lib/tap/tapFactory.ts
  src/lib/tap/tapd/tapdService.ts
  src/shared/types.ts
  src/store/models/modals.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(deps): use published lnd & tapd NPM packages
  package.json
  patches/protobufjs+7.3.0.patch
  src/lib/tap/tapd/tapdService.spec.ts
  src/shared/litdDefaults.ts
  src/utils/constants.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(lid): create custom branch litd Dockerfile
  docker/litd/src.Dockerfile
  electron/lnd/lndProxyServer.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): add dependency @lightningpolar/litd-api v0.12.5-alpha
  package.json
  yarn.lock
Due: none

feat(litd): create and push litd docker image
  docker/README.md
  docker/litd/Dockerfile
  docker/litd/docker-entrypoint.sh
Due: prettier --single-quote --write

feat(litd): add proxy client and service
  electron/appIpcListener.ts
  electron/litd/litdProxyServer.ts
  electron/windowManager.ts
  src/lib/litd/index.ts
  src/lib/litd/litdProxyClient.ts
  src/lib/litd/litdService.ts
  src/lib/litd/types.ts
  src/shared/index.ts
  src/shared/ipcChannels.ts
  src/shared/litdDefaults.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): create & revoke LNC sessions
  src/components/designer/NetworkDesigner.tsx
  src/components/designer/lightning/ConnectTab.tsx
  src/components/designer/lightning/LightningDetails.tsx
  src/components/designer/lightning/connect/LncAddSessionModal.tsx
  src/components/designer/lightning/connect/LncRevokeButton.tsx
  src/components/designer/lightning/connect/LncSessionDrawer.tsx
  src/components/designer/lightning/connect/LncSessionsList.tsx
  src/i18n/locales/en-US.json
  src/lib/litd/litdService.ts
  src/store/index.ts
  src/store/models/index.ts
  src/store/models/lit.ts
  src/store/models/modals.ts
  src/types/index.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): distinguish asset channels in designer
  src/components/common/DetailsList.tsx
  src/components/designer/custom/Link.tsx
  src/components/designer/custom/Port.tsx
  src/components/designer/link/Channel.tsx
  src/i18n/locales/en-US.json
  src/lib/lightning/lnd/mappers.ts
  src/lib/lightning/types.ts
  src/utils/chart.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): add litd as a lightning node
  electron/tapd/tapdProxyServer.ts
  src/components/common/ImageUpdatesModal.spec.tsx
  src/components/terminal/DockerTerminal.tsx
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
  src/lib/docker/repoService.ts
  src/lib/lightning/lightningFactory.ts
  src/lib/lightning/lnd/lndService.ts
  src/lib/settings/settingsService.spec.ts
  src/resources/litd.svg
  src/shared/types.ts
  src/store/models/app.spec.ts
  src/store/models/app.ts
  src/store/models/designer.ts
  src/store/models/lightning.ts
  src/store/models/network.ts
  src/utils/chart.ts
  src/utils/constants.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test(lit): add and update unit tests for litd
  electron/lnd/lndProxyServer.ts
  src/components/common/RenameNodeModal.spec.tsx
  src/components/common/form/TapAssetSelect.tsx
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.tsx
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/components/designer/lightning/actions/OpenChannelModal.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.tsx
  src/components/designer/link/Channel.spec.tsx
  src/components/designer/tap/TapNodeDetails.spec.tsx
  src/components/designer/tap/actions/MintAssetModal.spec.tsx
  src/components/designer/tap/actions/SendAssetModal.tsx
  src/components/network/ImportNetwork.spec.tsx
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/repoService.spec.ts
  src/lib/docker/repoService.ts
  src/lib/ipc/ipcService.spec.ts
  src/lib/ipc/ipcService.ts
  src/lib/lightning/clightning/clightningService.spec.ts
  src/lib/lightning/eclair/eclairService.spec.ts
  src/lib/lightning/lnd/lndProxyClient.spec.ts
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/lightning/notImplementedService.spec.ts
  src/lib/lightning/notImplementedService.ts
  src/lib/litd/litdService.spec.ts
  src/lib/tap/tapd/tapProxyClient.spec.ts
  src/lib/tap/tapd/tapdService.spec.ts
  src/shared/tapdDefaults.ts
  src/store/models/designer.spec.ts
  src/store/models/lightning.spec.ts
  src/store/models/lightning.ts
  src/store/models/lit.spec.ts
  src/store/models/lit.ts
  src/store/models/network.spec.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(litd): reduce streaming RPC event calls
  electron/lnd/lndProxyServer.ts
  src/lib/ipc/ipcService.ts
  src/lib/lightning/lnd/lndProxyClient.ts
  src/lib/lightning/lnd/lndService.ts
  src/store/models/designer.ts
  src/store/models/lightning.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none
