Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

feat(images): add support for litd v0.13.99-alpha.rc4
  docker/README.md
  docker/litd/Dockerfile
  src/store/models/lit.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for tapd v0.4.0-alpha.rc4
  docker/README.md
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tapd): fix compatibility with tapd v0.3.3
  src/components/common/AdvancedOptionsButton.tsx
  src/components/nodeImages/ManagedImageModal.tsx
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/composeFile.ts
  src/utils/network.ts
  src/utils/strings.spec.ts
  src/utils/strings.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(release): bump version to v3.0.0-rc1 and update changelog
  CHANGELOG.md
  README.md
  package.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

chore(i18n): add new translations for Spanish (#944)
  src/i18n/locales/es-ES.json
Due: none

Add link to usage example in the documentation
  README.md
Due: prettier --single-quote --write

feat(tap): sync assets before funding a channel
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/store/models/tap.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(lib): fix typo in tapd volume path
  src/lib/docker/dockerService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(deps): update litd/tapd deps to the latest versions
  package.json
  src/shared/tapdDefaults.ts
  src/utils/constants.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): bump to litd v0.13.99 and tapd v0.4.0
  README.md
  docker/README.md
  docker/litd/src.Dockerfile
  docker/tapd/src.Dockerfile
  src/store/models/designer.spec.ts
  src/utils/constants.ts
  src/utils/network.spec.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(release): bump version to v3.0.0 and update changelog
  CHANGELOG.md
  README.md
  docker/nodes.json
  package.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for tapd v0.4.1-alpha
  README.md
  docker/README.md
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for litd v0.13.991-experimental
  README.md
  docker/README.md
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(config): update tapd & litd versions in nodes.json
  docker/nodes.json
  src/utils/constants.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix: broken bitcoin-cli bash completion link
  docker/bitcoind/Dockerfile
Due: none

feat(images): add support for litd v0.13.993-experimental
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(network): added description field to ui components
  src/components/home/NetworkCard.tsx
  src/components/network/NetworkView.tsx
  src/components/network/NewNetwork.tsx
  src/i18n/locales/en-US.json
  src/types/index.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test(network): added test cases for description feature
  src/components/common/RenameNodeModal.spec.tsx
  src/components/designer/bitcoind/actions/SendOnChainModal.spec.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
  src/components/home/NetworkCard.spec.tsx
  src/components/network/ImportNetwork.spec.tsx
  src/components/network/NetworkView.spec.tsx
  src/components/network/NewNetwork.spec.tsx
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/dockerService.spec.ts
  src/lib/litd/litdProxyClient.spec.ts
  src/lib/litd/litdService.spec.ts
  src/store/models/designer.spec.ts
  src/store/models/lit.spec.ts
  src/store/models/network.spec.ts
  src/utils/network.spec.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(network): fixed network name error message
  src/i18n/locales/en-US.json
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(network): rename network description in model store
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(network): used tooltip for description in network view
  src/components/network/NetworkView.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(network): updated unit tests
  src/components/network/NetworkView.spec.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
