Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

feat: prevent lightning invoice payments when no funds exist
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

test: cover error paths in the pay invoice modal
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: add package manager version (corepack)
  package.json
Due: none

chore: add client and actions to ark
  .vscode/launch.json
  docker/bitcoind/Dockerfile
  electron/ark/arkdProxyServer.ts
  electron/utils/types.ts
  src/components/designer/ark/InfoTab.tsx
  src/components/network/NewNetwork.tsx
  src/components/terminal/DockerTerminal.tsx
  src/lib/ark/arkProxyClient.ts
  src/lib/ark/arkService.ts
  src/lib/ark/types.ts
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
  src/shared/ipcChannels.ts
  src/shared/types.ts
  src/store/models/app.ts
  src/store/models/ark.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/constants.ts
  src/utils/migrations.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: update arkd version
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: update arkd version and compatibility
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: add deepmerge
  package.json
  src/store/models/app.spec.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add boarding address and other information
  electron/ark/arkdProxyServer.ts
  src/components/designer/ark/InfoTab.tsx
  src/lib/ark/arkProxyClient.ts
  src/lib/ark/arkdService.ts
  src/shared/ipcChannels.ts
  src/store/models/ark.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/constants.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: add wallet init for new nodes
  electron/ark/arkdProxyServer.ts
  electron/utils/types.ts
  src/components/designer/ark/InfoTab.tsx
  src/lib/ark/arkFactory.ts
  src/lib/ark/arkProxyClient.ts
  src/lib/ark/arkService.ts
  src/lib/ark/arkdService.ts
  src/lib/ark/types.ts
  src/lib/docker/composeFile.ts
  src/shared/ipcChannels.ts
  src/store/models/ark.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: add initial wallet initialization
  docker/nodes.json
  src/components/terminal/DockerTerminal.tsx
  src/lib/ark/arkFactory.ts
  src/lib/ark/arkdService.ts
  src/store/models/app.ts
  src/store/models/ark.ts
  src/utils/async.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: make arkd stateless
  src/lib/ark/arkFactory.ts
  src/lib/ark/arkdService.ts
  src/store/models/ark.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

refactor: rename to arkd
  src/lib/docker/composeFile.ts
  src/lib/docker/nodeTemplates.ts
  src/store/models/network.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add nbexplorer
  nbexplorer/docker-compose.yml
  nbexplorer/wallet.env
Due: prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
