Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

chore(i18n): add new translations from Crowdin
  src/i18n/locales/de-DE.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

chore(deps): downgrade electron-log due to breaking changes
  .renovaterc
  package.json
  yarn.lock
Due: none

feat(images): add support for Bitcoin Core v26.0
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for LND v0.17.2-beta and v0.17.3-beta
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(i18n): add new translations from Crowdin
  src/i18n/locales/de-DE.json
  src/i18n/locales/es-ES.json
Due: none

chore(deps): updated dependencies @types/react to v18.2.46 and @types/react-dom to v18.2.18
  package.json
Due: none

chore(deps): added dependency @babel/plugin-proposal-private-property-in-object
  package.json
Due: none

chore(deps): added openssl-legacy-provider flag to build and start commands to allow electron run
  package.json
Due: none

chore(deps): added engines for node v20+ and upgraded polar version to v3.0.0
  package.json
Due: none

chore(deps): generated new yarn.lock file
  yarn.lock
Due: none

refactor: updated component files to match react typings
  src/components/common/DetailsList.tsx
  src/components/common/NavMenu.tsx
  src/components/common/StatusBadge.tsx
  src/components/designer/AutoMineButton.tsx
  src/components/designer/LinkContextMenu.tsx
  src/components/designer/NodeContextMenu.tsx
  src/components/network/NetworkActions.tsx
  src/components/network/NewNetwork.tsx
  src/components/routing/Switch.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix: updated lineargradient tag to linearGradient; pascal-case
  src/components/designer/NetworkDesigner.spec.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

docs: added nodejs version in README - Tech Stack
  README.md
Due: prettier --single-quote --write

docs: updated nodejs version in README to >= 20
  README.md
Due: prettier --single-quote --write

Revert "chore(deps): added engines for node v20+ and upgraded polar version to v3.0.0"
  package.json
Due: none

chore(deps): added engines for node v20+
  package.json
Due: none

refactor: used string type instead of any
  src/components/network/NetworkActions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(deps): updated github workflows node_version to 20.x
  .github/workflows/main.yml
Due: prettier --single-quote --write

feat: add xdg support
  e2e/helpers/index.ts
  src/shared/utils.ts
  src/utils/config.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: add unit tests for config utils
  src/utils/config.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Added support for Node.js version 20 (#827)
  .github/workflows/main.yml
  README.md
  package.json
  src/components/common/DetailsList.tsx
  src/components/common/NavMenu.tsx
  src/components/common/StatusBadge.tsx
  src/components/designer/AutoMineButton.tsx
  src/components/designer/LinkContextMenu.tsx
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/NodeContextMenu.tsx
  src/components/network/NetworkActions.tsx
  src/components/network/NewNetwork.tsx
  src/components/routing/Switch.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(dev): add devcontainers support
  .devcontainer/Dockerfile-headless
  .devcontainer/Dockerfile-ui
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Due: prettier --single-quote --write

docs(dev): provide instructions to setup Polar with DevContainers
  CONTRIBUTING.md
Due: prettier --single-quote --write

fix(EclairService): fixed bug that filters channel data
  src/lib/lightning/eclair/eclairService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test(EclairService): updated EclairService unit tests
  src/lib/lightning/eclair/eclairService.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(types): updated ChannelData interface typings
  src/lib/lightning/eclair/types.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(types): updated eclair node compatibility
  src/lib/lightning/eclair/eclairService.spec.ts
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/eclair/types.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write
