Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

fix(coverage): improved tests and code
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/taro/actions/MintAssetModal.tsx
  src/components/designer/taro/actions/SendAssetModal.tsx
  src/lib/taro/tarod/tarodService.ts
  src/store/models/taro.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(caseing): tarobackend
  src/components/designer/link/TaroBackend.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(linting): added --max-warnings 0
  .lintstagedrc
Due: none

feat(taro): update mintAsset modal
  electron/tarod/tarodProxyServer.ts
  src/components/designer/taro/actions/MintAssetModal.tsx
  src/i18n/locales/en-US.json
  src/lib/taro/tarod/tarodProxyClient.ts
  src/lib/taro/tarod/tarodService.ts
  src/shared/ipcChannels.ts
  src/store/models/taro.spec.ts
  src/store/models/taro.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(taro): allow updating the LND backend of Taro nodes
  src/components/common/form/LightningNodeSelect.spec.tsx
  src/components/common/form/LightningNodeSelect.tsx
  src/components/common/form/TaroDataSelect.spec.tsx
  src/components/common/form/TaroNodeSelect.spec.tsx
  src/components/common/form/TaroNodeSelect.tsx
  src/components/designer/LinkContextMenu.spec.tsx
  src/components/designer/LinkContextMenu.tsx
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/NetworkDesigner.tsx
  src/components/designer/Sidebar.tsx
  src/components/designer/lightning/actions/ChangeBackendModal.tsx
  src/components/designer/link/ChangeTaroBackendButton.tsx
  src/components/designer/link/Peer.spec.tsx
  src/components/designer/link/TaroBackend.spec.tsx
  src/components/designer/link/TaroBackend.tsx
  src/components/designer/taro/actions/ChangeTaroBackendModal.spec.tsx
  src/components/designer/taro/actions/ChangeTaroBackendModal.tsx
  src/components/designer/taro/actions/index.ts
  src/i18n/locales/en-US.json
  src/store/models/designer.spec.ts
  src/store/models/designer.ts
  src/store/models/modals.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/constants.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(review 4): notes
  src/components/designer/taro/actions/MintAssetButton.tsx
  src/components/designer/taro/actions/MintAssetModal.tsx
  src/i18n/locales/en-US.json
  src/store/models/taro.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test(taro): add and update unit tests
  src/components/common/form/TaroDataSelect.spec.tsx
  src/components/designer/NodeContextMenu.spec.tsx
  src/components/designer/taro/TaroNodeDetails.spec.tsx
  src/components/designer/taro/actions/ChangeTaroBackendModal.spec.tsx
  src/components/designer/taro/actions/MintAssetModal.spec.tsx
  src/components/designer/taro/actions/NewAddressModal.spec.tsx
  src/components/designer/taro/actions/NewAddressModal.tsx
  src/components/network/NetworkView.spec.tsx
  src/components/network/NetworkView.tsx
  src/lib/taro/tarod/tarodProxyClient.spec.ts
  src/lib/taro/tarod/tarodService.spec.ts
  src/lib/taro/tarod/tarodService.ts
  src/lib/taro/types.ts
  src/shared/tarodDefaults.ts
  src/store/models/network.spec.ts
  src/store/models/taro.spec.ts
  src/utils/network.spec.ts
  src/utils/tests/testStateDefaults.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(taro): show only nodes with assets in asset dropdown
  src/components/common/form/TaroDataSelect.spec.tsx
  src/components/common/form/TaroDataSelect.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(taro): add tarod implementation
  docker/README.md
  docker/nodes.json
  docker/tarod/Dockerfile
  docker/tarod/docker-entrypoint.sh
  src/components/common/AdvancedOptionsButton.tsx
  src/components/designer/NodeContextMenu.tsx
  src/components/dockerLogs/ViewLogsButton.tsx
  src/components/terminal/DockerTerminal.tsx
  src/components/terminal/OpenTerminalButton.tsx
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
  src/lib/docker/repoService.ts
  src/resources/taro.svg
  src/shared/types.ts
  src/store/models/designer.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/chart.ts
  src/utils/constants.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(taro): general fixes for taro integration (#685)
  src/components/designer/taro/info/AssetsList.tsx
  src/i18n/locales/en-US.json
  src/utils/network.spec.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(review notes): various
  src/components/designer/taro/actions/MintAssetModal.tsx
  src/components/designer/taro/actions/SendAssetModal.spec.tsx
  src/utils/tests/testStateDefaults.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(network-card): review notes
  src/components/home/NetworkCard.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(taro): add Connect and Actions tabs
  electron/tarod/tarodProxyServer.ts
  src/components/designer/taro/ActionsTab.tsx
  src/components/designer/taro/ConnectTab.tsx
  src/components/designer/taro/InfoTab.tsx
  src/components/designer/taro/TaroDetails.tsx
  src/components/designer/taro/info/AssetsList.tsx
  src/components/terminal/OpenTerminalButton.tsx
  src/i18n/locales/en-US.json
  src/lib/taro/tarod/tarodProxyClient.ts
  src/lib/taro/tarod/tarodService.ts
  src/lib/taro/types.ts
  src/shared/ipcChannels.ts
  src/shared/tarodDefaults.ts
  src/shared/tarodTypes.ts
  src/store/models/taro.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: add unit tests for all the new Taro features
  src/components/common/ImageUpdatesModal.spec.tsx
  src/components/common/RemoveNode.spec.tsx
  src/components/common/form/TaroDataSelect.spec.tsx
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/NodeContextMenu.spec.tsx
  src/components/designer/Sidebar.spec.tsx
  src/components/designer/bitcoind/actions/MineBlocksInput.spec.tsx
  src/components/designer/taro/ConnectTab.tsx
  src/components/designer/taro/TaroNodeDetails.spec.tsx
  src/components/designer/taro/actions/MintAssetModal.spec.tsx
  src/components/designer/taro/actions/MintAssetModal.tsx
  src/components/designer/taro/actions/NewAddressModal.spec.tsx
  src/components/designer/taro/actions/NewAddressModal.tsx
  src/components/designer/taro/info/AssetInfoDrawer.tsx
  src/components/network/ImportNetwork.spec.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/dockerService.spec.ts
  src/lib/taro/taroFactory.spec.ts
  src/lib/taro/tarod/tarodProxyClient.spec.ts
  src/lib/taro/tarod/tarodProxyClient.ts
  src/lib/taro/tarod/tarodService.spec.ts
  src/lib/taro/tarod/tarodService.ts
  src/lib/taro/types.ts
  src/shared/tarodDefaults.ts
  src/store/models/app.spec.ts
  src/store/models/app.ts
  src/store/models/designer.spec.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/store/models/taro.spec.ts
  src/store/models/taro.ts
  src/utils/chart.ts
  src/utils/network.spec.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(mint-taro-asset): double check review
  src/components/designer/taro/actions/MintAssetModal.spec.tsx
  src/components/designer/taro/actions/MintAssetModal.tsx
  src/store/models/taro.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(network-card): added taro nodes stat to network card
  src/components/home/NetworkCard.spec.tsx
  src/components/home/NetworkCard.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(missing type): fixed missed refactor
  src/shared/tarodDefaults.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(review): fixed up review notes
  electron/tarod/tarodProxyServer.ts
  src/components/common/form/TaroAssetSelect.spec.tsx
  src/components/common/form/TaroAssetSelect.tsx
  src/components/common/form/TaroDataSelect.spec.tsx
  src/components/common/form/TaroDataSelect.tsx
  src/components/common/form/TaroNodeSelect.tsx
  src/components/designer/taro/actions/MintAssetModal.spec.tsx
  src/components/designer/taro/actions/NewAddressButton.tsx
  src/components/designer/taro/actions/NewAddressModal.spec.tsx
  src/components/designer/taro/actions/NewAddressModal.tsx
  src/i18n/locales/en-US.json
  src/store/models/taro.ts
  src/utils/tests/testStateDefaults.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(taro): fix mint asset metadata (#672)
  src/store/models/taro.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(new-address-modal): tidy up modal
  src/components/designer/taro/actions/NewAddressModal.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(squash commit): send asset modal
  electron/tarod/tarodProxyServer.ts
  src/components/designer/NetworkDesigner.tsx
  src/components/designer/NodeContextMenu.tsx
  src/components/designer/taro/ActionsTab.tsx
  src/components/designer/taro/actions/MintAssetModal.tsx
  src/components/designer/taro/actions/NewAddressModal.tsx
  src/components/designer/taro/actions/SendAssetButton.tsx
  src/components/designer/taro/actions/SendAssetModal.spec.tsx
  src/components/designer/taro/actions/SendAssetModal.tsx
  src/components/designer/taro/actions/index.ts
  src/i18n/locales/en-US.json
  src/lib/taro/tarod/tarodProxyClient.ts
  src/lib/taro/tarod/tarodService.ts
  src/lib/taro/types.ts
  src/shared/ipcChannels.ts
  src/shared/tarodTypes.ts
  src/store/models/modals.ts
  src/store/models/taro.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
  src/utils/tests/testStateDefaults.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(refactor): test
  src/components/designer/taro/actions/SendAssetModal.spec.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(TaroDataSelect): added missing type
  src/components/common/form/TaroDataSelect.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

fix(tapd): resolve issue when deleting a network
  src/lib/docker/dockerService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(deps): use @lightningpolar/tapd-api NPM package
  electron/tapd/tapdProxyServer.ts
  package.json
  src/lib/tap/tapd/tapProxyClient.spec.ts
  src/lib/tap/tapd/tapdProxyClient.ts
  src/lib/tap/tapd/tapdService.spec.ts
  src/lib/tap/tapd/tapdService.ts
  src/shared/tapdDefaults.ts
  src/store/models/tap.ts
  src/types/index.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

revert(ci): temporarily use taro-api package from jamaljsr github
  .github/workflows/main.yml
Due: prettier --single-quote --write

Revert "chore(deps): update dependency docker-compose to v0.24.1"
  .renovaterc
  package.json
  yarn.lock
Due: none

fix(network): display missing image warning for tapd nodes
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(docker): update Dockerfile for tapd
  docker/README.md
  docker/tapd/Dockerfile
Due: prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
