Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

chore(deps): update @lightningpolar/tapd-api to v0.3.0
  package.json
  yarn.lock
Due: none

fix(images): add tapd to custom images implementations
  package.json
  src/components/common/AdvancedOptionsModal.tsx
  src/components/nodeImages/CustomImageModal.tsx
  src/components/nodeImages/ManagedImageModal.tsx
  src/lib/docker/composeFile.ts
  src/store/models/network.ts
  src/utils/constants.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(app): remember window location per node
  electron/appIpcListener.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(tapd): fix balance not updating after send
  src/components/designer/tap/actions/NewAddressModal.tsx
  src/components/designer/tap/actions/SendAssetModal.tsx
  src/store/models/app.ts
  src/store/models/tap.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for tapd v0.3.0-alpha.rc1
  README.md
  docker/README.md
  docker/nodes.json
  package.json
  src/utils/constants.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tapd): prevent removing dependent LN nodes
  src/i18n/locales/en-US.json
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(tapd): fix error generating a new address
  src/components/designer/tap/actions/NewAddressModal.tsx
  src/lib/tap/tapd/tapdService.ts
  src/shared/tapdDefaults.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tapd): allow emission when minting assets
  src/components/designer/tap/actions/MintAssetModal.tsx
  src/components/designer/tap/info/AssetInfoDrawer.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

chore(i18n): add updated translations
  src/i18n/locales/de-DE.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/zh-CN.json
Due: none

test(tapd): update unit tests for the latest tapd
  src/components/common/RemoveNode.spec.tsx
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/tap/actions/ChangeTapBackendModal.spec.tsx
  src/components/designer/tap/actions/MintAssetModal.spec.tsx
  src/components/designer/tap/actions/NewAddressModal.spec.tsx
  src/components/designer/tap/actions/SendAssetModal.spec.tsx
  src/components/designer/tap/actions/SendAssetModal.tsx
  src/components/nodeImages/ManagedImageModal.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/composeFile.ts
  src/lib/tap/tapd/tapProxyClient.spec.ts
  src/lib/tap/tapd/tapdService.spec.ts
  src/store/models/app.spec.ts
  src/store/models/designer.spec.ts
  src/utils/chart.spec.ts
  src/utils/network.spec.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

fix download broken links + update download links to v2.1.0
  README.md
Due: prettier --single-quote --write

fix(docs): download broken links + update download links to v2.1.0 (#795)
  README.md
Due: prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none
