Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

feat: add simulation management
  src/components/common/StatusButton.tsx
  src/components/designer/Sidebar.tsx
  src/components/designer/default/AddSimulationModal.tsx
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/default/DefaultSidebar.tsx
  src/components/designer/default/SimulationDesignerTab.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: add test to ln simulation
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/default/AddSimulationModal.spec.tsx
  src/components/designer/default/SimulationDesignerTab.spec.tsx
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/dockerService.spec.ts
  src/store/models/network.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

refactor: extend nodeselector
  src/components/common/form/LightningNodeSelect.spec.tsx
  src/components/common/form/LightningNodeSelect.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add simln support to eclair
  src/components/designer/default/AddSimulationModal.tsx
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/types/index.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add simln support to CLN
  src/components/designer/default/AddSimulationModal.tsx
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add sim support to litd
  src/components/designer/default/AddSimulationModal.tsx
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

docs: add docker build command to readme
  docker/README.md
Due: prettier --single-quote --write

fix: format windows path to POSIX
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: update network model
  src/i18n/locales/en-US.json
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

refactor: split default designer
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/default/DefaultSidebar.tsx
  src/components/designer/default/NetworkDesignerTab.tsx
  src/components/designer/default/SimulationDesignerTab.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add simulation config modal
  src/components/designer/NetworkDesigner.tsx
  src/components/designer/default/AddSimulationModal.tsx
  src/components/designer/default/SimulationDesignerTab.tsx
  src/i18n/locales/en-US.json
  src/store/models/modals.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add simln to docker configs
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
  src/shared/types.ts
  src/types/index.ts
  src/utils/config.ts
  src/utils/constants.ts
  src/utils/network.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

refactor: extract status button
  src/components/common/StatusButton.spec.tsx
  src/components/common/StatusButton.tsx
  src/components/network/NetworkActions.tsx
  src/components/network/NetworkView.spec.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add Dockerfile for simln
  docker/simln/Dockerfile
  docker/simln/docker-entrypoint.sh
Due: none

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

fix(simln): resolve simln issues on linux
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(simln): improve simulations UI
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/default/SimulationDesignerTab.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write
