Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

docs: add AI policy doc [ci skip]
  CONTRIBUTING.md
  docs/ai-policy.md
Due: prettier --single-quote --write

fix: redact wallet secret payloads from IPC logging
  electron/lnd/lndProxyServer.ts
  src/lib/ipc/ipcService.spec.ts
  src/lib/ipc/ipcService.ts
  src/shared/ipcChannels.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix: keep polling a locked LND node so external unlocks are picked up in UI
  src/store/models/network.spec.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add wallet unlock flow for locked LND nodes
  src/components/common/UnlockNodeModal.tsx
  src/components/designer/lightning/ConnectTab.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: add coverage for unlock/init modal, thunks, and locked Connect tab states
  src/components/common/UnlockNodeModal.spec.tsx
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/NodeContextMenu.spec.tsx
  src/components/designer/lightning/ConnectTab.spec.tsx
  src/components/designer/lightning/LightningDetails.spec.tsx
  src/store/models/lightning.spec.ts
  src/store/models/network.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add wallet initialization flow for LND nodes
  electron/lnd/lndProxyServer.ts
  src/components/common/UnlockNodeButton.tsx
  src/components/common/UnlockNodeModal.tsx
  src/components/common/index.ts
  src/components/designer/NetworkDesigner.tsx
  src/components/designer/NodeContextMenu.tsx
  src/components/designer/lightning/ActionsTab.tsx
  src/i18n/locales/en-US.json
  src/lib/lightning/lnd/lndProxyClient.spec.ts
  src/lib/lightning/lnd/lndProxyClient.ts
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/lightning/lnd/lndService.ts
  src/shared/ipcChannels.ts
  src/store/index.ts
  src/store/models/lightning.ts
  src/store/models/modals.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

fix: wait for SERVER_ACTIVE before treating an LND node as online
  src/lib/lightning/lnd/lndService.spec.ts
  src/lib/lightning/lnd/lndService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add service layer support for restoring a wallet from a seed
  src/lib/bitcoin/bitcoind/bitcoindService.ts
  src/lib/bitcoin/notImplementedService.ts
  src/lib/lightning/lnd/lndService.ts
  src/types/bitcoin-core.d.ts
  src/types/index.ts
  src/utils/files.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add wallet restore flow for uninitialized LND nodes
  src/components/common/RestoreWalletForm.tsx
  src/components/common/UnlockNodeModal.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: cover wallet restore, force-close confirmation, and validation
  src/components/common/UnlockNodeModal.spec.tsx
  src/lib/bitcoin/bitcoind/bitcoindService.spec.ts
  src/lib/bitcoin/notImplementedService.spec.ts
  src/lib/lightning/lnd/lndService.spec.ts
  src/utils/files.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(deps): bump dockerode to 4.0.12 and regenerate protobufjs patch
  package.json
  patches/protobufjs+7.6.6.patch
  yarn.lock
Due: none

test: map node:crypto to a shim for Jest 26
  package.json
  src/utils/tests/nodeCrypto.js
Due: none

fix(deps): bump @types/node to 18.19.130
  package.json
  src/components/designer/AutoMineButton.tsx
  src/store/models/network.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(deps): add easy-peasy to renovate ignore list
  .renovaterc
Due: none

chore(deps): add antd to renovate ignore list
  .renovaterc
Due: none
