Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix --max-warnings 0",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --parser json --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

feat: add a util func to check for channel
  src/utils/chart.spec.ts
  src/utils/chart.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add simulation config modal
  src/components/designer/NetworkDesigner.tsx
  src/components/designer/default/AddSimulationModal.tsx
  src/components/designer/default/SimulationDesignerTab.tsx
  src/i18n/locales/en-US.json
  src/store/models/modals.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add Dockerfile for simln
  docker/simln/Dockerfile
  docker/simln/docker-entrypoint.sh
Due: none

feat: add simln to docker configs
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
  src/shared/types.ts
  src/types/index.ts
  src/utils/config.ts
  src/utils/constants.ts
  src/utils/network.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

refactor: extract status button
  src/components/common/StatusButton.spec.tsx
  src/components/common/StatusButton.tsx
  src/components/network/NetworkActions.tsx
  src/components/network/NetworkView.spec.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: update network model
  src/i18n/locales/en-US.json
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

refactor: extend nodeselector
  src/components/common/form/LightningNodeSelect.spec.tsx
  src/components/common/form/LightningNodeSelect.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add simulation management
  src/components/common/StatusButton.tsx
  src/components/designer/Sidebar.tsx
  src/components/designer/default/AddSimulationModal.tsx
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/default/DefaultSidebar.tsx
  src/components/designer/default/SimulationDesignerTab.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add simln support to CLN
  src/components/designer/default/AddSimulationModal.tsx
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test: add test to ln simulation
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/default/AddSimulationModal.spec.tsx
  src/components/designer/default/SimulationDesignerTab.spec.tsx
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/dockerService.spec.ts
  src/store/models/network.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add simln support to eclair
  src/components/designer/default/AddSimulationModal.tsx
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/types/index.ts
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Add activity feed API
  graphite-demo/server.js
Due: none

Add frontend for search
  graphite-demo/frontend.jsx
Due: none

Add server API
  graphite-demo/server.js
Due: none

Add user search
  graphite-demo/frontend.jsx
  graphite-demo/server.js
Due: none

refactor: split default designer
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/default/DefaultSidebar.tsx
  src/components/designer/default/NetworkDesignerTab.tsx
  src/components/designer/default/SimulationDesignerTab.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add sim support to litd
  src/components/designer/default/AddSimulationModal.tsx
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(core): add backend and utility support for network monitoring
  src/utils/fileService.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(docker): enable monitoring container creation and orchestration
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(store): extend state and types for monitoring feature
  src/store/models/modals.ts
  src/store/models/network.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(ui): add network monitoring controls and modal integration
  src/components/common/NetworkMonitoringButton.tsx
  src/components/common/NetworkMonitoringModal.tsx
  src/components/designer/NetworkDesigner.tsx
  src/components/network/NetworkActions.tsx
  src/components/network/NewNetwork.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(i18n): add translations for network monitoring feature
  src/i18n/locales/de-DE.json
  src/i18n/locales/en-US.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: none

test: add tests and mocks for network monitoring feature
  src/components/common/NetworkMonitoringButton.spec.tsx
  src/components/common/NetworkMonitoringModal.spec.tsx
  src/components/common/RenameNodeModal.spec.tsx
  src/components/designer/bitcoin/actions/SendOnChainModal.spec.tsx
  src/components/designer/lightning/actions/CreateInvoiceModal.spec.tsx
  src/components/designer/lightning/actions/OpenChannelModal.spec.tsx
  src/components/designer/lightning/actions/PayInvoiceModal.spec.tsx
  src/components/network/ImportNetwork.spec.tsx
  src/components/network/NewNetwork.spec.tsx
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/nodeTemplates.spec.ts
  src/lib/litd/litdProxyClient.spec.ts
  src/lib/litd/litdService.spec.ts
  src/store/models/designer.spec.ts
  src/store/models/lit.spec.ts
  src/store/models/network.spec.ts
  src/utils/network.spec.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: update dependencies for monitoring feature
  .yarn/install-state.gz
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --single-quote --write

test: add fileService mock for network monitoring tests
  src/__mocks__/fileService.js
Due: none

chore: add package manager version (corepack)
  package.json
Due: none

chore: add wallet init for new nodes
  electron/ark/arkdProxyServer.ts
  electron/utils/types.ts
  src/components/designer/ark/InfoTab.tsx
  src/lib/ark/arkFactory.ts
  src/lib/ark/arkProxyClient.ts
  src/lib/ark/arkService.ts
  src/lib/ark/arkdService.ts
  src/lib/ark/types.ts
  src/lib/docker/composeFile.ts
  src/shared/ipcChannels.ts
  src/store/models/ark.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore: add client and actions to ark
  .vscode/launch.json
  docker/bitcoind/Dockerfile
  electron/ark/arkdProxyServer.ts
  electron/utils/types.ts
  src/components/designer/ark/InfoTab.tsx
  src/components/network/NewNetwork.tsx
  src/components/terminal/DockerTerminal.tsx
  src/lib/ark/arkProxyClient.ts
  src/lib/ark/arkService.ts
  src/lib/ark/types.ts
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
  src/shared/ipcChannels.ts
  src/shared/types.ts
  src/store/models/app.ts
  src/store/models/ark.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/constants.ts
  src/utils/migrations.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: add boarding address and other information
  electron/ark/arkdProxyServer.ts
  src/components/designer/ark/InfoTab.tsx
  src/lib/ark/arkProxyClient.ts
  src/lib/ark/arkdService.ts
  src/shared/ipcChannels.ts
  src/store/models/ark.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/constants.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write
