Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

fix(docker): update Dockerfile for tapd
  docker/README.md
  docker/tapd/Dockerfile
Due: prettier --single-quote --write

revert(ci): temporarily use taro-api package from jamaljsr github
  .github/workflows/main.yml
Due: prettier --single-quote --write

fix(network): display missing image warning for tapd nodes
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(tapd): resolve issue when deleting a network
  src/lib/docker/dockerService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

docs(docker): remove docker push from tapd commands
  docker/README.md
Due: prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

chore(i18n): new Crowdin translations (#720)
  src/i18n/locales/de-DE.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: none

feat(docker): update to use Docker Compose v2
  src/__mocks__/docker-compose.js
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(docker): wait up to 2mins for nodes to shutdown gracefully
  src/lib/docker/composeFile.ts
  src/lib/docker/nodeTemplates.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(docker): add a network name to the compose file
  src/lib/docker/composeFile.spec.ts
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(bitcoin): increase bitcoind API request timeout
  src/lib/bitcoin/bitcoindService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(docker): properly handle new node types in updates
  src/lib/docker/repoService.spec.ts
  src/lib/docker/repoService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(tapd): update CLI alias in Terminal
  src/components/terminal/DockerTerminal.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(tapd): add migration to add TAP nodes to legacy networks
  src/lib/docker/dockerService.spec.ts
  src/utils/migrations.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(tapd): rename Tap to TAP in UI labels
  src/components/common/form/TapDataSelect.spec.tsx
  src/components/common/form/TapNodeSelect.spec.tsx
  src/components/designer/LinkContextMenu.spec.tsx
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/link/LinkDetails.spec.tsx
  src/components/designer/link/TapBackend.spec.tsx
  src/components/designer/tap/TapNodeDetails.spec.tsx
  src/components/designer/tap/actions/ChangeTapBackendModal.spec.tsx
  src/components/designer/tap/actions/NewAddressModal.spec.tsx
  src/components/designer/tap/actions/SendAssetModal.spec.tsx
  src/components/designer/tap/info/AssetInfoDrawer.tsx
  src/components/network/ImportNetwork.spec.tsx
  src/i18n/locales/en-US.json
  src/lib/tap/tapFactory.ts
  src/lib/tap/types.ts
  src/store/models/designer.spec.ts
  src/store/models/modals.ts
  src/store/models/network.spec.ts
  src/store/models/tap.spec.ts
  src/utils/network.spec.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
