Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --parser json --write"
  ],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

fix(bitcoind): always mine 1 block when the network is started
  src/components/designer/link/Channel.spec.tsx
  src/store/models/bitcoind.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix: prevent closing a channel when the node is not started
  src/components/common/NavMenu.tsx
  src/components/designer/link/CloseChannelButton.tsx
  src/i18n/locales/en-US.json
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

chore(deps): update dependency prettier to v2
  e2e/App.e2e.ts
  e2e/Home.e2e.ts
  e2e/Import.e2e.ts
  e2e/pages/Home.ts
  e2e/pages/NewNetwork.ts
  electron/appMenu.ts
  package.json
  src/components/designer/custom/Link.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(i18n): new Crowdin translations (#326)
  src/i18n/locales/de-DE.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: none

chore(deps): update dependency @types/js-yaml to v3.12.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/node to v12.12.31
  package.json
  yarn.lock
Due: none

fix: custom eclair nodes are not added to a new network
  src/components/nodeImages/CustomImagesTable.spec.tsx
  src/components/nodeImages/NodeImagesView.spec.tsx
  src/store/models/network.spec.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

docs: add documentation for building custom nodes
  docs/custom-nodes.md
Due: prettier --single-quote --write

chore(deps): update dependency @testing-library/jest-dom to v5.2.0
  package.json
  yarn.lock
Due: none

fix: wait until all bitcoin nodes are online to mine first block
  src/store/models/bitcoind.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

chore(release): bump version to v1.0.0
  CHANGELOG.md
  README.md
  package.json
Due: prettier --single-quote --write

chore(deps): update dependency @testing-library/jest-dom to v5.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v16.9.26
  package.json
  yarn.lock
Due: none

chore(deps): update dependency i18next to v19.3.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @ant-design/icons to v4.0.4
  package.json
  yarn.lock
Due: none

fix(deps): update dependency electron-log to v4.1.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v16.9.27
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @ant-design/icons to v4.0.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency react-lazylog to v4.5.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v10.1.0
  package.json
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v2.26.0
  package.json
  yarn.lock
Due: none
