Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write, prettier --parser json --write

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

chore(i18n): add new crowdin translations (#725)
  src/i18n/locales/de-DE.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
Due: none

fix(network): apply migrations to imported networks
  src/store/models/network.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(tapd): fix missing LND chart port from migration
  src/lib/docker/dockerService.spec.ts
  src/utils/migrations.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

chore(release): bump version to v2.0.0 and update changelog
  CHANGELOG.md
  README.md
  RELEASE.md
  package.json
Due: prettier --single-quote --write

feat: external docker network
  src/components/network/NetworkActions.tsx
  src/components/network/NetworkView.tsx
  src/components/network/NewNetwork.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for Bitcoin Core v25.0
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: docker external network workflow
  src/components/common/DockerNetworkName.tsx
  src/components/common/StatusTag.tsx
  src/components/designer/NetworkDesigner.tsx
  src/components/network/DockerNetworkModal.tsx
  src/components/network/NetworkActions.tsx
  src/components/network/NetworkView.tsx
  src/components/network/NewNetwork.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
  src/store/models/modals.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for Eclair v0.9.0
  README.md
  docker/README.md
  docker/eclair/Dockerfile
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for Taproot Assets v0.2.2-alpha
  README.md
  docker/README.md
  docker/nodes.json
  src/components/designer/tap/actions/ChangeTapBackendModal.spec.tsx
  src/store/models/designer.spec.ts
  src/utils/constants.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for LND v0.16.4-beta
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for Core Lightning v23.05.2
  README.md
  docker/README.md
  docker/clightning/Dockerfile
  docker/clightning/Dockerfile.arm64
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for Taproot Assets v0.2.3
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

test(tapd): update unit tests for tapd v0.2.3
  src/components/designer/tap/actions/ChangeTapBackendModal.spec.tsx
  src/store/models/designer.spec.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Added --tlsextradomain=host.docker.internal to lnd default args
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

fix(cln): use node hostname for P2P Internal url
  src/lib/lightning/clightning/clightningService.spec.ts
  src/lib/lightning/clightning/clightningService.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(cln): save Core Lightning logs to disk
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for LND v0.17.0-beta.rc1
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for LND v0.17.0-beta.rc2
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for Core Lightning v23.08
  README.md
  docker/README.md
  docker/clightning/Dockerfile
  docker/clightning/Dockerfile.arm64
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat: enable external docker compose networks
  .vscode/settings.json
  package.json
  src/components/common/DockerNetworkName.spec.tsx
  src/components/common/DockerNetworkName.tsx
  src/components/common/StatusBadge.spec.tsx
  src/components/common/StatusTag.tsx
  src/components/designer/NetworkDesigner.spec.tsx
  src/components/designer/NetworkDesigner.tsx
  src/components/designer/SidebarCard.tsx
  src/components/network/DockerNetworkModal.spec.tsx
  src/components/network/DockerNetworkModal.tsx
  src/components/network/NetworkActions.spec.tsx
  src/components/network/NetworkActions.tsx
  src/components/network/NetworkView.spec.tsx
  src/components/network/NetworkView.tsx
  src/components/network/NewNetwork.spec.tsx
  src/components/network/NewNetwork.tsx
  src/components/network/NewNetworkOptions.spec.tsx
  src/components/network/NewNetworkOptions.tsx
  src/i18n/locales/en-US.json
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.spec.ts
  src/lib/docker/dockerService.ts
  src/store/models/modals.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
  src/utils/tests/renderWithProviders.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

feat(images): add support for LND v0.17.0-beta
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --single-quote --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{ts,tsx}) or (any of: *.{yml,md})
  prettier --parser json --write: any of: {.{babelrc,eslintrc,prettierrc,stylelintrc}}
