Repository jamaljsr/polar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --single-quote --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext .ts,.tsx --fix",
    "prettier --single-quote --write"
  ],
  "{.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --parser json --write"
  ],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

fix(eclair): fix breaking API changes in Eclair v0.8.0
  src/lib/lightning/eclair/eclairService.spec.ts
  src/lib/lightning/eclair/eclairService.ts
  src/lib/lightning/eclair/types.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add support for LND v0.16.0-beta.rc5
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add support for Core Lightning v23.02.2
  README.md
  docker/README.md
  docker/clightning/Dockerfile
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix(network): clear RPC cache when nodes are stopped
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(images): add support for LND v0.16.0-beta
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feature(docker): update Dockerfiles to build multi-arch images
  docker/README.md
  docker/bitcoind/Dockerfile
  docker/clightning/Dockerfile
  docker/clightning/Dockerfile.arm64
  docker/eclair/Dockerfile
  docker/lnd/Dockerfile
Due: prettier --single-quote --write

fix(channel display): lndservice getchannels filters by local initiator
  src/lib/lightning/lnd/lndService.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix(lnd): fix wrong source label for pending channels (#703)
  src/lib/lightning/lnd/lndService.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(automine): small fixes and refactorings
  src/components/designer/AutoMineButton.tsx
  src/store/models/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(automine): code review fixes
  src/components/designer/AutoMineButton.tsx
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(automine): fix unit tests
  src/components/designer/bitcoind/BitcoindDetails.spec.tsx
  src/components/designer/bitcoind/BitcoindDetails.tsx
  src/components/designer/bitcoind/actions/SendOnChainModal.tsx
  src/components/network/NetworkActions.spec.tsx
  src/components/network/NetworkView.spec.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(automine): add unit tests for automine
  src/components/designer/AutoMineButton.spec.tsx
  src/store/models/network.spec.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(automine): edits to reach full test coverage
  src/components/designer/AutoMineButton.spec.tsx
  src/components/designer/AutoMineButton.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(automine): small fix to pass tests
  src/components/designer/AutoMineButton.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(mining): automatically mine new blocks (#707)
  TODO.md
  src/components/designer/AutoMineButton.spec.tsx
  src/components/designer/AutoMineButton.tsx
  src/components/designer/SyncButton.tsx
  src/components/designer/bitcoind/BitcoindDetails.spec.tsx
  src/components/designer/bitcoind/BitcoindDetails.tsx
  src/components/designer/bitcoind/InfoTab.tsx
  src/components/designer/bitcoind/actions/SendOnChainModal.tsx
  src/components/network/NetworkActions.spec.tsx
  src/components/network/NetworkActions.tsx
  src/components/network/NetworkView.spec.tsx
  src/hooks/useMiningAsync.ts
  src/i18n/locales/de-DE.json
  src/i18n/locales/en-US.json
  src/i18n/locales/es-ES.json
  src/i18n/locales/fr-FR.json
  src/i18n/locales/it-IT.json
  src/i18n/locales/ja-JP.json
  src/i18n/locales/ko-KR.json
  src/i18n/locales/pt-BR.json
  src/i18n/locales/ru-RU.json
  src/i18n/locales/zh-CN.json
  src/store/models/bitcoind.ts
  src/store/models/network.spec.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

[ci skip] add new translations for French
  src/i18n/locales/fr-FR.json
Due: none

[ci skip] add new translations for Spanish
  src/i18n/locales/es-ES.json
Due: none

[ci skip] add new translations for German
  src/i18n/locales/de-DE.json
Due: none

[ci skip] add new translations for Italian
  src/i18n/locales/it-IT.json
Due: none

[ci skip] add new translations for Japanese
  src/i18n/locales/ja-JP.json
Due: none

[ci skip] add new translations for Korean
  src/i18n/locales/ko-KR.json
Due: none

[ci skip] add new translations for Russian
  src/i18n/locales/ru-RU.json
Due: none

[ci skip] add new translations for Chinese Simplified
  src/i18n/locales/zh-CN.json
Due: none

[ci skip] add new translations for Portuguese, Brazilian
  src/i18n/locales/pt-BR.json
Due: none

feat(images): add support for LND v0.16.1-beta and v0.16.2-beta
  README.md
  docker/README.md
  docker/nodes.json
  src/utils/constants.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

Revert "chore(deps): update dependency docker-compose to v0.24.1"
  package.json
  yarn.lock
Due: none

feat(taro): connect to tarod nodes via gRPC
  electron/appIpcListener.ts
  electron/lnd/lndProxyServer.ts
  electron/tarod/tarodProxyServer.ts
  electron/windowManager.ts
  package.json
  src/lib/docker/composeFile.ts
  src/lib/docker/nodeTemplates.ts
  src/lib/taro/index.ts
  src/lib/taro/taroFactory.ts
  src/lib/taro/tarod/index.ts
  src/lib/taro/tarod/tarodProxyClient.ts
  src/lib/taro/tarod/tarodService.ts
  src/shared/index.ts
  src/shared/ipcChannels.ts
  src/shared/lndDefaults.ts
  src/shared/tarodDefaults.ts
  src/shared/tarodTypes.ts
  src/store/index.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/constants.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(taro): show an error if there are no LND nodes available running master
  src/components/common/RemoveNode.tsx
  src/i18n/locales/en-US.json
  src/store/models/network.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(taro): add tarod implementation
  docker/README.md
  docker/nodes.json
  docker/tarod/Dockerfile
  docker/tarod/docker-entrypoint.sh
  src/components/common/AdvancedOptionsButton.tsx
  src/components/designer/NodeContextMenu.tsx
  src/components/dockerLogs/ViewLogsButton.tsx
  src/components/terminal/DockerTerminal.tsx
  src/components/terminal/OpenTerminalButton.tsx
  src/lib/docker/composeFile.ts
  src/lib/docker/dockerService.ts
  src/lib/docker/nodeTemplates.ts
  src/lib/docker/repoService.ts
  src/resources/taro.svg
  src/shared/types.ts
  src/store/models/designer.ts
  src/store/models/network.ts
  src/types/index.ts
  src/utils/chart.ts
  src/utils/constants.ts
  src/utils/network.ts
  src/utils/tests/helpers.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(taro): add Connect and Actions tabs
  electron/tarod/tarodProxyServer.ts
  src/components/designer/taro/ActionsTab.tsx
  src/components/designer/taro/ConnectTab.tsx
  src/components/designer/taro/InfoTab.tsx
  src/components/designer/taro/TaroDetails.tsx
  src/components/designer/taro/info/AssetsList.tsx
  src/components/terminal/OpenTerminalButton.tsx
  src/i18n/locales/en-US.json
  src/lib/taro/tarod/tarodProxyClient.ts
  src/lib/taro/tarod/tarodService.ts
  src/lib/taro/types.ts
  src/shared/ipcChannels.ts
  src/shared/tarodDefaults.ts
  src/shared/tarodTypes.ts
  src/store/models/taro.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(taro): display asset info and utxos
  electron/tarod/tarodProxyServer.ts
  src/components/common/DetailsList.tsx
  src/components/designer/taro/InfoTab.tsx
  src/components/designer/taro/info/AssetInfoDrawer.tsx
  src/components/designer/taro/info/AssetsList.tsx
  src/i18n/locales/en-US.json
  src/lib/taro/tarod/tarodService.ts
  src/lib/taro/types.ts
  src/shared/tarodDefaults.ts
  src/store/models/modals.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(taro): display taro assets in InfoTab
  src/components/designer/Sidebar.tsx
  src/components/designer/taro/InfoTab.tsx
  src/components/designer/taro/TaroDetails.tsx
  src/i18n/locales/en-US.json
  src/lib/taro/tarod/tarodService.ts
  src/lib/taro/types.ts
  src/store/models/index.ts
  src/store/models/taro.ts
  src/types/index.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(min-taro-asset): squashed commits
  electron/tarod/tarodProxyServer.ts
  src/components/common/form/TaroNodeSelect.tsx
  src/components/designer/NetworkDesigner.tsx
  src/components/designer/NodeContextMenu.tsx
  src/components/designer/default/DefaultSidebar.spec.tsx
  src/components/designer/taro/ActionsTab.tsx
  src/components/designer/taro/actions/AssetButtons.tsx
  src/components/designer/taro/actions/MintAssetModal.spec.tsx
  src/components/designer/taro/actions/MintAssetModal.tsx
  src/components/designer/taro/actions/OpenMintAssetModal.tsx
  src/components/designer/taro/actions/index.ts
  src/components/nodeImages/ManagedImageModal.spec.tsx
  src/i18n/locales/en-US.json
  src/lib/taro/tarod/tarodProxyClient.ts
  src/lib/taro/tarod/tarodService.ts
  src/lib/taro/types.ts
  src/shared/ipcChannels.ts
  src/shared/tarodDefaults.ts
  src/shared/tarodTypes.ts
  src/store/models/designer.ts
  src/store/models/modals.ts
  src/store/models/taro.ts
  src/types/index.ts
  src/utils/tests/helpers.ts
  src/utils/tests/renderWithProviders.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

feat(taro): update docker ports when the network starts
  src/shared/types.ts
  src/store/models/network.ts
  src/utils/network.ts
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write

fix(TaroDataSelect): added missing type
  src/components/common/form/TaroDataSelect.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --single-quote --write
